In [1]:
# Import relevant packages
#Import Modules
import os
import numpy as np
import pandas as pd
import requests
import datetime as dt
import random
from Config import api_key
from Config2 import pwd
# BDay is business day
from pandas.tseries.offsets import BDay
import math
import time
import calendar
import re
from sqlalchemy import create_engine
import pymysql
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy.orm import Session

In [2]:
# setup pymysql and connect to local MySQL workbench
pymysql.install_as_MySQLdb() 
string = f"mysql://ucbx:{pwd}@stock-data-analysis.ciuxgx1cjbsw.us-east-2.rds.amazonaws.com/stock_data"
engine = create_engine(string)
# Establish a connection to the local DB
conn = engine.connect()
# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [ ]:
# Create table to hold s&p 500 stock list from Wikipedia
# ----------------------------------
class sandp_stocks (Base):
    __tablename__ = 'sandp_stocks'
    symbol = Column(String(10),primary_key=True)
    security = Column(String(250))
    sec_filing = Column(String(50))
    gics_sector = Column(String(250))
    gics_sub_industry = Column(String(250))
    hq_location = Column(String(250))
    date_added = Column(String(10))
    cik = Column(Integer)
    year_founded = Column(Integer)

# Create table to hold s&p 500 stock TIME_SERIES_DAILY_ADJUSTED data
# ----------------------------------
class stock_daily_adjusted (Base):
    __tablename__ = 'stock_daily_adjusted'
    symbol = Column(String(10),primary_key=True)
    date = Column(String(10),primary_key=True)
    open = Column(Float)
    high = Column(Float)
    close = Column(Float)
    adjusted_close = Column(Float)
    volume = Column(Float)
    divident_amount = Column(Float)
    split_coeff = Column(Float)

# # Create table to hold s&p 500 stock year on year return (Jan to Dec)
# # ----------------------------------
# class sandp_stocks (Base):
#     __tablename__ = 'stock_yony_return'
#     symbol = Column(String(10),primary_key=True)
#     gics_sector = Column(String(100))
#     2019 = Column(Float)
#     2018 = Column(Float)
#     2017 = Column(Float)
#     2016 = Column(Float)
#     2015 = Column(Float)
#     2014 = Column(Float)
#     2013 = Column(Float)
#     2012 = Column(Float)
#     2011 = Column(Float)
#     2010 = Column(Float)
#     2009 = Column(Float)
#     2008 = Column(Float)
#     2007 = Column(Float)
#     2006 = Column(Float)
#     2005 = Column(Float)
#     2004 = Column(Float)
#     2003 = Column(Float)
#     2002 = Column(Float)
#     2001 = Column(Float)
#     2000 = Column(Float)
#     1999 = Column(Float)
#     1998 = Column(Float)




# # Create table to hold sector year on year return (Jan to Dec)
# # ----------------------------------
# class sandp_stocks (Base):
#     __tablename__ = 'sector_yony_return'
#     gics_sector = Column(String(100),primary_key=True)
#     year_2019 = Column(Float)
#     year_2018 = Column(Float)
#     year_2017 = Column(Float)
#     year_2016 = Column(Float)
#     year_2015 = Column(Float)
#     year_2014 = Column(Float)
#     year_2013 = Column(Float)
#     year_2012 = Column(Float)
#     year_2011 = Column(Float)
#     year_2010 = Column(Float)
#     year_2009 = Column(Float)
#     year_2008 = Column(Float)
#     year_2007 = Column(Float)
#     year_2006 = Column(Float)
#     year_2005 = Column(Float)
#     year_2004 = Column(Float)
#     year_2003 = Column(Float)
#     year_2002 = Column(Float)
#     year_2001 = Column(Float)
#     year_2000 = Column(Float)
#     year_1999 = Column(Float)
#     year_1998 = Column(Float)


####
# # Create table to hold sector year on year return (Jan to Dec)
# # ----------------------------------
# class sandp_stocks_divd (Base):
#     __tablename__ = 'stock_yony_return_divd'
#     gics_sector = Column(String(100),primary_key=True)
#     year_2019 = Column(Float)
#     year_2018 = Column(Float)
#     year_2017 = Column(Float)
#     year_2016 = Column(Float)
#     year_2015 = Column(Float)
#     year_2014 = Column(Float)
#     year_2013 = Column(Float)
#     year_2012 = Column(Float)
#     year_2011 = Column(Float)
#     year_2010 = Column(Float)
#     year_2009 = Column(Float)
#     year_2008 = Column(Float)
#     year_2007 = Column(Float)
#     year_2006 = Column(Float)
#     year_2005 = Column(Float)
#     year_2004 = Column(Float)
#     year_2003 = Column(Float)
#     year_2002 = Column(Float)
#     year_2001 = Column(Float)
#     year_2000 = Column(Float)
#     year_1999 = Column(Float)
#     year_1998 = Column(Float)

In [3]:
# Create both the company_diversity_m_f and company_diversity_race tables within the database
Base.metadata.create_all(conn)
# confirming that tables got created in the DB
engine.table_names()
# Create a session that binds to the engine to enable insert of data
session = Session(bind=engine)

In [4]:
#Obtain list of S&P 500 stocks from Wikipedia into a DataFrame
site1 = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
table2 = pd.read_html(site1)
df_wiki1 = table2[0]
df_wiki1.columns = df_wiki1.iloc[0]
# Dropping the column names which were added to the dataframe as rows
df_wiki1 = df_wiki1.drop(df_wiki1.index[0])
# Setting column names for the dataframe
df_wiki1.columns = ['security', 'symbol', 'sec_filing', 'gics_sector','gics_sub_industry','hq_location','date_added', 'cik', 'year_founded']
df_wiki1.to_sql(name='sandp_stocks', con=engine, if_exists='replace', index=True)
df_wiki1.tail()

,security,symbol,sec_filing,gics_sector,gics_sub_industry,hq_location,date_added,cik,year_founded
501,Xylem Inc.,XYL,reports,Industrials,Industrial Machinery,"White Plains, New York",2011-11-01,0001524472,NaN
502,Yum! Brands Inc,YUM,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061,NaN
503,Zimmer Biomet Holdings,ZBH,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869,NaN
504,Zions Bancorp,ZION,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,0000109380,NaN
505,Zoetis,ZTS,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,0001555280,NaN

In [ ]:
# deifie elements needed to construct the alphavantage URL to get stock data
base_url = 'https://www.alphavantage.co/query?'
function_type = 'TIME_SERIES_DAILY_ADJUSTED'
outputsize = 'full'
category = f"function={function_type}"

In [9]:
stock = pd.read_sql('select distinct(symbol) from sandp_stocks;', con=conn)
stock_list = stock['symbol'].tolist()
stock_list

['MMM',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADBE',
 'AMD',
 'AAP',
 'AES',
 'AMG',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALXN',
 'ALGN',
 'ALLE',
 'AGN',
 'ADS',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'APC',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'AIV',
 'AAPL',
 'AMAT',
 'APTV',
 'ADM',
 'ARNC',
 'ANET',
 'AJG',
 'AIZ',
 'ATO',
 'T',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'BHGE',
 'BLL',
 'BAC',
 'BK',
 'BAX',
 'BBT',
 'BDX',
 'BRK-B',
 'BBY',
 'BIIB',
 'BLK',
 'HRB',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BHF',
 'BMY',
 'AVGO',
 'BR',
 'BF-B',
 'CHRW',
 'COG',
 'CDNS',
 'CPB',
 'COF',
 'CPRI',
 'CAH',
 'KMX',
 'CCL',
 'CAT',
 'CBOE',
 'CBRE',
 'CBS',
 'CE',
 'CELG',
 'CNC',
 'CNP',
 'CTL',
 'CERN',
 'CF',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'XEC',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'CXO',
 'COP',
 'ED',
 'STZ',
 'COO',
 'CPRT',
 'GLW',
 'COST',
 'COTY',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'FANG',
 'DLR',
 'DFS',
 'DISCA',
 'DISCK',
 'DISH',
 'DG',
 'DLTR',
 'D',
 'DOV',
 'DWDP',
 'DTE',
 'DRE',
 'DUK',
 'DXC',
 'ETFC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ETR',
 'EOG',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'EVRG',
 'ES',
 'RE',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FB',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FE',
 'FRC',
 'FISV',
 'FLT',
 'FLIR',
 'FLS',
 'FLR',
 'FMC',
 'FL',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'BEN',
 'FCX',
 'GPS',
 'GRMN',
 'IT',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GS',
 'GT',
 'GWW',
 'HAL',
 'HBI',
 'HOG',
 'HRS',
 'HIG',
 'HAS',
 'HCA',
 'HCP',
 'HP',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HFC',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IDXX',
 'INFO',
 'ITW',
 'ILMN',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'INCY',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JKHY',
 'JEC',
 'JBHT',
 'JEF',
 'SJM',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'KSU',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KSS',
 'KHC',
 'KR',
 'LB',
 'LLL',
 'LH',
 'LRCX',
 'LW',
 'LEG',
 'LEN',
 'LLY',
 'LNC',
 'LIN',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LYB',
 'MTB',
 'MAC',
 'M',
 'MRO',
 'MPC',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MAT',
 'MKC',
 'MXIM',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MHK',
 'TAP',
 'MDLZ',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'MYL',
 'NDAQ',
 'NOV',
 'NKTR',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NBL',
 'JWN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'ORLY',
 'OXY',
 'OMC',
 'OKE',
 'ORCL',
 'PCAR',
 'PKG',
 'PH',
 'PAYX',
 'PYPL',
 'PNR',
 'PBCT',
 'PEP',
 'PKI',
 'PRGO',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'RL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RJF',
 'RTN',
 'O',
 'RHT',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'SHW',
 'SPG',
 'SWKS',
 'SLG',
 'SNA',
 'SO',
 'LUV',
 'SPGI',
 'SWK',
 'SBUX',
 'STT',
 'SYK',
 'STI',
 'SIVB',
 'SYMC',
 'SYF',
 'SNPS',
 'SYY',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'FTI',
 'TFX',
 'TXN',
 'TXT',
 'TMO',
 'TIF',
 'TWTR',
 'TJX',
 'TMK',
 'TSS',
 'TSCO',
 'TDG',
 'TRV',
 'TRIP',
 'FOXA',
 'FOX',
 'TSN',
 'UDR',
 'ULTA',
 'USB',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UNH',
 'UPS',
 'URI',
 'UTX',
 'UHS',
 'UNM',
 'VFC',
 'VLO',
 'VAR',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VIAB',
 'V',
 'VNO',
 'VMC',
 'WMT',
 'WBA',
 'DIS',
 'WM',
 'WAT',
 'WEC',
 'WCG',
 'WFC',
 'WELL',
 'WDC',
 'WU',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WLTW',
 'WYNN',
 'XEL',
 'XRX',
 'XLNX',
 'XYL',
 'YUM',
 'ZBH',
 'ZION',
 'ZTS']

In [ ]:
# defining the variables to hold data pulled from alphavantage site
open = []
high = []
low = []
close = []
adjusted_close = []
volume = []
divident_amount = []
split_coeff = []
dates = []
data_dict = {}
# create a list of all column names for the dataframe that we intend to create
#table = [dates, open, high, low, close, adjusted_close, volume, divident_amount, split_coeff ]
# create dataframe & transpose the dataframe to get desired columns
#df = pd.DataFrame(table).transpose()
# Define column names
#df.columns = ['date','open', 'high', 'low', 'close', 'adjusted_close', 'volume', 'divident_amount', 'split_coeff']
# Create a new column named Symbol
#df['symbol']= ''
# Create the final dataframe structure that we plan to use which includes the symbol column as well and re-order so symbol is first column
#merged_df = df[['symbol','date','open', 'high', 'low', 'close', 'adjusted_close', 'volume', 'divident_amount', 'split_coeff']]
#print(merged_df)

In [ ]:
# define list of stocks to fetch data from alphavantage site
#stock_list = ['GOOG','T','DIS','AMZN','BBY','EBAY','CLX','KO','COST','CVX','XOM','HAL','AXP','BRK-B','JPM','ABT','CI','JNJ','BA','CAT','FDX','AAPL','MA','TXN','IP','NUE','PPG','AVB','ESS','IRM','LNT','EVRG','NRG']
#stock_list1 = ['LUV', 'SPGI', 'SWK', 'SBUX', 'STT', 'SYK', 'STI', 'SIVB', 'SYMC', 'SYF', 'SNPS', 'SYY', 'TROW', 'TTWO', 'TPR', 'TGT', 'TEL', 'FTI', 'TFX', 'TXN', 'TXT', 'TMO', 'TIF', 'TWTR', 'TJX', 'TMK', 'TSS', 'TSCO', 'TDG', 'TRV', 'TRIP', 'FOXA', 'FOX', 'TSN', 'UDR', 'ULTA', 'USB', 'UAA', 'UA', 'UNP', 'UAL', 'UNH', 'UPS', 'URI', 'UTX', 'UHS', 'UNM', 'VFC', 'VLO', 'VAR', 'VTR', 'VRSN', 'VRSK', 'VZ', 'VRTX', 'VIAB', 'V', 'VNO', 'VMC', 'WMT', 'WBA', 'DIS', 'WM', 'WAT', 'WEC', 'WCG', 'WFC', 'WELL', 'WDC', 'WU', 'WRK', 'WY', 'WHR', 'WMB', 'WLTW', 'WYNN', 'XEL', 'XRX', 'XLNX', 'XYL', 'YUM', 'ZBH', 'ZION']
#stock_list1 = stock_list[400:504]
#stock_list = ['CE','FLT','LOW','REGN','ZTS']
print(stock_list)
# for each stock obtain TIME_SERIES_DAILY_ADJUSTED data for last 20 years
for stock in stock_list:
    # final URl to be used
    final_url2 = f"{base_url}{category}&symbol={stock}&outputsize={outputsize}&apikey={api_key}"
    print(final_url2)
    response = requests.get(final_url2)
    #converting api response to JSON data
    response_json = response.json()
    response_json.keys()
    # defining the variables to hold data pulled from alphavantage site
    date_list = []
    open = []
    high = []
    low = []
    close = []
    adjusted_close = []
    volume = []
    divident_amount = []
    split_coeff = []
    data_dict = {}
    # obtain list of all dates for which data is available from alphavantage for each stock
    dates = response_json['Time Series (Daily)'].keys()
    #print(response.status_code)
    for date in dates:
        if response.status_code == 200:
            # ensuring we catch any exceptions using a try catch for bad data retuned from API call while status of 200 is sent
            try:
                # extracting data from the json object and adding it to respective lists 
                date_list.append(date)
                open.append(response_json['Time Series (Daily)'][date]['1. open'])
                high.append(response_json['Time Series (Daily)'][date]['2. high'])
                low.append(response_json['Time Series (Daily)'][date]['3. low'])
                close.append(response_json['Time Series (Daily)'][date]['4. close'])
                adjusted_close.append(response_json['Time Series (Daily)'][date]['5. adjusted close'])
                volume.append(response_json['Time Series (Daily)'][date]['6. volume'])
                divident_amount.append(response_json['Time Series (Daily)'][date]['7. dividend amount'])
                split_coeff.append(response_json['Time Series (Daily)'][date]['8. split coefficient'])
            #handling an exception bad data retuned from API call while status of 200 is sent
            except:
                print('Skipping an entry due to lack of stock data\n')
            #catching a bad response from API anything other than status 200 and skipping that data
        else:
            print("Hmmm, are you sure there is a stock with that ticker?\n")
    # Create a dictionary holding all data gathered for one stock
    data_dict = {
                'symbol':stock,
                'date':date_list,
                'open': open,
                'high': high,
                'low': low,
                'close': close,
                'adjusted_close': adjusted_close ,
                'volume':volume,
                'divident_amount':divident_amount,
                'split_coeff':split_coeff
                }
    # creating a dataframe from the dictionry
    temp_df = pd.DataFrame.from_dict(data_dict)
    temp_df.to_sql(name='stock_daily_adjusted', con=engine, if_exists='append', index=False)
    #temp_df['yony'] = temp_df['date'].apply(lambda x: yonycalc(x))
    # merging the temp dataframe data into the datafram structure created earlier to hold the final data
    #merged_df = merged_df.append(temp_df,ignore_index=True)
    # sleep for 13 seconds after each stock's data extraction to avoid going over 5 API calls per min to alphavantage
    time.sleep(13)

In [5]:
merged_df = pd.read_sql('select * from stock_daily_adjusted;', con=conn)
merged_df.head()

,symbol,date,open,high,low,close,adjusted_close,volume,divident_amount,split_coeff
0,MMM,2019-02-15,206.4600,208.9700,206.0000,208.8600,208.8600,2000278,0.0000,1.0000
1,MMM,2019-02-14,206.5900,207.1200,204.0500,204.9300,204.9300,2229753,1.4400,1.0000
2,MMM,2019-02-13,207.0900,210.4000,206.5900,209.7200,208.2566,2967332,0.0000,1.0000
3,MMM,2019-02-12,202.8700,206.7900,202.1900,206.5700,205.1286,2622973,0.0000,1.0000
4,MMM,2019-02-11,200.9300,201.2000,199.6400,200.9100,199.5081,1513457,0.0000,1.0000

In [6]:
merged_df["symbol"] = merged_df.symbol.astype(str)
merged_df["date"] = pd.to_datetime(merged_df["date"])
merged_df["open"] = merged_df.open.astype(float)
merged_df["high"] = merged_df.high.astype(float)
merged_df["close"] = merged_df.close.astype(float)
merged_df["low"] = merged_df.low.astype(float)
merged_df["adjusted_close"] = merged_df.adjusted_close.astype(float)
merged_df["volume"] = merged_df.volume.astype(float)
merged_df["divident_amount"] = merged_df.divident_amount.astype(float)
merged_df["split_coeff"] = merged_df.split_coeff.astype(float)
#merged_df.dtypes
print(merged_df.head(1))
print(merged_df.tail(2))

  symbol       date    open    high    low   close  adjusted_close     volume  \
0    MMM 2019-02-15  206.46  208.97  206.0  208.86          208.86  2000278.0

   divident_amount  split_coeff
0              0.0          1.0
        symbol       date   open   high    low  close  adjusted_close  \
2362979    ZTS 2013-02-04  31.09  31.99  30.76  31.02         29.5673
2362980    ZTS 2013-02-01  31.50  31.74  30.47  31.01         29.5578

             volume  divident_amount  split_coeff
2362979   7695400.0              0.0          1.0
2362980  66789100.0              0.0          1.0

In [7]:
# Create structure of the final data frame to hold year on year returns data for each stock
final_df = pd.DataFrame(columns=[i for i in range(2019, 1997, -1)])
final_df.insert(0, 'symbol', 0)
final_df

Empty DataFrame
Columns: [symbol, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998]
Index: []

[0 rows x 23 columns]

In [1]:
# Calculate year on year retunr for each stock
# define an empty dictionary
#print(stock_list)
dictionary = {}
for stk in stock_list:
    #print(stk)
    # filter the merged data frame having stock data by 1 specific stock and create a new stock specific dataframe
    stk_df = merged_df.loc[merged_df['symbol'] == stk]
    # identify the most recent year and most recent month for which data is available for the specific stock
    start_year = stk_df.iloc[[0]]['date'].dt.year.reset_index(drop=True)
    start_year = start_year[0]
    start_month = stk_df.iloc[[0]]['date'].dt.month.reset_index(drop=True)
    start_month = start_month[0]
    # identify the oldest year and corresponding oldest month for which data is available for the specific stock
    end_year = stk_df.iloc[[-1]]['date'].dt.year.reset_index(drop=True)
    end_year = end_year[0]
    end_month = stk_df.iloc[[-1]]['date'].dt.month.reset_index(drop=True)
    end_month = end_month[0]
    # for each year of data calculate the average month on month return for the stock
    for year_value in range(start_year, end_year-1, -1):
        monmperc_list = []
        # for current year (e.g. 2019) skip the current months data as we might not have the entire months data and only start from previous month and also set end month to 0 so we stop at Jan
        if year_value == start_year:
            # determine the first month so we start iterating from that month
            month_start = start_month-1
            # for the start month of Jan, consider Jan and dont skip it
            if month_start == 0:
                month_start = 1
            # set month end to 0 so we stop iterating in Jan
            month_end = 0
        # for earliest year (e.g. 1998) set month end and also set start month to 12 so we start at Dec
        elif year_value == end_year:
            # set month start to 12 so we start iterating from Dec
            month_start = 12
            # determing the last month so we stop iterating at that month
            month_end = end_month -1
            # if end month is Jan, consider Jan and dont skip it
            if month_end == 0:
                month_end = 1
        else:
            month_start = 12
            month_end = 0
        # for each month within a given year, get the first and last working day (ignoring weekends and days that dont have stock data) and calculate the average return
        for month_value in range (month_start, month_end, -1):
            # obtain the first and last day of a month
            month_range = calendar.monthrange(year_value,month_value)
            #Identify first day of the month (0 - Mon & 6 is Sunday)
            first_date = month_range[0]
            # if first day is a Saturday, move 1st date to 3rd of the month (1st - Sat, 2nd - Sun and 3rd - Mon)
            if (first_date == 5):
                first_date = 3
            # if first day is a Sunday, move 1st date to 2nd of the month (1st Sun and 2nd - Mon)
            elif (first_date == 6):
                first_date = 2
            # if first day is NOT a Saturday or Sunday then set 1st date to 1st of that month
            else:
                first_date = 1
            #Create the first day and last day variables in a date format
            first_day = f'{year_value}-{month_value}-{first_date}'
            last_day = f'{year_value}-{month_value}-{month_range[1]}'
            first_day = pd.to_datetime(first_day)
            last_day = pd.to_datetime(last_day)
            #Filter the dataframe to get data for the 1st day of the month
            filter_1 = (stk_df['date'] == first_day) 
            df_filter_1 = stk_df.loc[filter_1]['close'].astype(float).reset_index(drop=True)
            i=1
            # pick next business day if for some reason the first date of the month does not have data from alphavantage
            while df_filter_1.empty:
                next_buss_date = (first_day + BDay(i))
                #Filter the dataframe to get data for the new first date of the month that has information from alphavantage
                filter_1 = (stk_df['date'] == next_buss_date)
                df_filter_1 = stk_df.loc[filter_1]['close'].astype(float).reset_index(drop=True)
                i+=1
            #Filter the dataframe to get data for the last day of the month
            filter_2 = (stk_df['date'] == last_day)
            df_filter_2 = stk_df.loc[filter_2]['close'].astype(float).reset_index(drop=True)
            # pick previous business day if for some reason the last date of the month does not have data from alphavantage
            j=1
            while df_filter_2.empty:
                prev_buss_date = (last_day - BDay(j))
                #Filter the dataframe to get data for the new last date of the month that has information from alphavantage
                filter_2 = (stk_df['date'] == prev_buss_date)
                df_filter_2 = stk_df.loc[filter_2]['close'].astype(float).reset_index(drop=True)
                j+=1
            # calculate the average return for the month based of the close price on 1st date and last date of the month
            monmperc = ((df_filter_2 - df_filter_1)/ df_filter_1)*100
            # add each months return to a list
            monmperc_list.append(monmperc)
        #Calculate the average retrun across all months of a given year
        avg_monmperc = sum(monmperc_list)/len(monmperc_list)
        #Add the symbol and its average yearly return for each year
        dictionary['symbol'] = stk
        dictionary[year_value] = avg_monmperc
    # create a temp dataframe from the dictionary created
    temp_df = pd.DataFrame.from_dict(dictionary)
    # append this temp data frame to the final dataframe structure created earlier
    final_df = final_df.append(temp_df,ignore_index=True)

NameError: name 'stock_list' is not defined

In [11]:
print(final_df.head())

  symbol       2019      2018      2017      2016      2015      2014  \
0    MMM   4.896570 -1.009762  1.972439  1.577829 -0.644188  2.099564
1    ABT   5.007194  1.897345  2.955102 -1.099629  0.000240  1.934863
2   ABBV -10.019052 -0.590313  3.175781  0.493654 -1.082617  2.625749
3   ABMD  13.263002  3.277295  4.150829  1.927447  8.483528  4.566464
4    ACN   9.218294 -0.520528  2.364408  0.980228  1.074049  1.434426

       2013      2012      2011    ...         2007      2006      2005  \
0  3.691199  0.980436  0.669179    ...     0.791992  0.244259 -0.399397
1  1.356323  1.365399  1.937698    ...     1.129000  1.962463 -1.343881
2  2.779737  1.365399  1.937698    ...     1.129000  1.962463 -1.343881
3  6.311604  0.906423  8.896198    ...     1.678670  4.287823 -2.810915
4  1.451403  1.982922  1.474177    ...     0.274953  2.267602  0.013521

       2004      2003      2002      2001      2000       1999      1998
0  0.009860 -1.682022  0.100353  0.367833  2.367321   1.910351 -2.294297
1 -0.178627  1.101096 -1.629055  0.695523  2.544372  -2.245057  2.913909
2 -0.178627  1.101096 -1.629055  0.695523  2.544372  -2.245057  2.913909
3  5.212298  2.249722 -8.871266 -2.243599  7.322323  15.023372 -1.298750
4 -0.075716  2.022104 -2.275141  9.495909  7.322323  15.023372 -1.298750

[5 rows x 23 columns]

In [12]:
# function to identify the gics_sector for any stock
def find_gics_sector(symbol):
    # filter the s&p 500 dataframe by symbol
    filter = (df_wiki1['symbol'] == symbol) 
    # identify and return the gics_sector for the stock
    gics_sector = df_wiki1.loc[filter]['gics_sector'].reset_index(drop=True)
    return gics_sector

# function to identify the gics_sub_industry for any stock
def find_gics_sub_industry(symbol):
    # filter the s&p 500 dataframe by symbol
    filter = (df_wiki1['symbol'] == symbol) 
    # identify and return the gics_sector for the stock
    gics_sub_industry = df_wiki1.loc[filter]['gics_sub_industry'].reset_index(drop=True)
    return gics_sub_industry

In [13]:
# create a new column for gics_sector and identify its value for each symbol
final_df['gics_sector'] = final_df['symbol'].apply(lambda y: find_gics_sector(y))

In [15]:
cols = final_df.columns.tolist()
cols = [cols[0],cols[-1]]+cols[1:-1]
final_df = final_df.reindex(columns=cols)
final_df = final_df.fillna(0)
final_df.head()

,symbol,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,MMM,Industrials,4.896570,-1.009762,1.972439,1.577829,-0.644188,2.099564,3.691199,0.980436,...,0.791992,0.244259,-0.399397,0.009860,-1.682022,0.100353,0.367833,2.367321,1.910351,-2.294297
1,ABT,Health Care,5.007194,1.897345,2.955102,-1.099629,0.000240,1.934863,1.356323,1.365399,...,1.129000,1.962463,-1.343881,-0.178627,1.101096,-1.629055,0.695523,2.544372,-2.245057,2.913909
2,ABBV,Health Care,-10.019052,-0.590313,3.175781,0.493654,-1.082617,2.625749,2.779737,1.365399,...,1.129000,1.962463,-1.343881,-0.178627,1.101096,-1.629055,0.695523,2.544372,-2.245057,2.913909
3,ABMD,Health Care,13.263002,3.277295,4.150829,1.927447,8.483528,4.566464,6.311604,0.906423,...,1.678670,4.287823,-2.810915,5.212298,2.249722,-8.871266,-2.243599,7.322323,15.023372,-1.298750
4,ACN,Information Technology,9.218294,-0.520528,2.364408,0.980228,1.074049,1.434426,1.451403,1.982922,...,0.274953,2.267602,0.013521,-0.075716,2.022104,-2.275141,9.495909,7.322323,15.023372,-1.298750

In [16]:
final_df.to_sql(name='stock_yony_return', con=engine, if_exists='append', index=False)

In [21]:
yony_df = pd.read_sql('select * from stock_yony_return;', con=conn)
yony_df.head()

,symbol,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,A,Health Care,15.771000,0.378040,2.776520,0.681839,0.499793,0.220303,2.256110,0.876697,...,0.154152,0.637198,2.622190,-1.400120,3.417690,-2.759370,-4.296870,-0.529084,37.96410,-1.248700
1,AAL,Industrials,10.129300,-3.013790,0.918848,1.415060,-2.419120,6.002280,5.152610,10.767200,...,-10.314900,4.199810,16.561600,0.750467,0.449046,0.228621,-0.916649,2.577700,-2.25603,0.726298
2,AAP,Consumer Discretionary,0.810537,3.398080,-3.700460,0.701321,0.008756,3.695520,3.149150,0.318547,...,0.857369,-1.502860,0.665826,-3.591340,4.052800,1.938790,11.536100,-3.213780,1.76626,5.632980
3,AAPL,Information Technology,5.395140,-1.525940,2.545430,0.875710,-0.043872,-4.351070,0.613752,2.374530,...,7.291830,1.732970,2.352800,10.015700,3.301150,-3.177230,4.021390,-13.458200,8.25453,7.575530
4,ABBV,Health Care,-10.019100,-0.590313,3.175780,0.493654,-1.082620,2.625750,2.779740,1.365400,...,1.129000,1.962460,-1.343880,-0.178627,1.101100,-1.629060,0.695523,2.544370,-2.24506,2.913910

In [22]:
# group the data by gics_sector
yony_df_grouped = yony_df.groupby('gics_sector', as_index=False).mean()
yony_df_grouped.loc['s&p'] = yony_df_grouped.mean()
yony_df_grouped = yony_df_grouped.rename(index={'s&p': '11'})
yony_df_grouped = yony_df_grouped.set_value('11', 'gics_sector', 'S&P')
yony_df_grouped

In [26]:
yony_df_grouped.to_sql(name='sector_yony_return', con=engine, if_exists='append', index=False)

In [28]:
sector_yony_df = pd.read_sql('select * from sector_yony_return;', con=conn)
sector_yony_df

,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,Communication Services,8.98985,-0.043309,0.731341,0.197925,-0.003091,0.338494,4.035510,1.350980,0.953892,...,0.169634,1.552120,0.040248,1.112470,2.27623,-0.486088,1.152960,-0.706753,4.186050,0.675045
1,Consumer Discretionary,9.61219,-0.764938,1.203610,0.013294,-0.491275,1.539800,2.429810,1.599630,1.547740,...,-0.734985,1.200290,0.751642,0.949926,3.27248,-0.358924,2.621290,-0.463723,-0.066930,2.321830
2,Consumer Staples,6.00912,-0.600336,0.831505,0.079082,0.668216,1.761330,1.597840,0.197776,1.059970,...,0.239532,1.209130,0.064241,0.697809,1.29954,-0.611485,0.107587,0.148318,-0.542984,1.562200
3,Energy,12.69990,-1.845320,-0.691322,2.973540,-2.036200,0.330429,1.864560,0.512689,1.720200,...,2.149080,0.176500,1.472290,1.234130,1.65196,0.117225,-0.943599,2.968910,0.823413,-1.107540
4,Financials,9.45634,-1.517460,0.940432,1.603240,-0.259321,1.303110,2.667230,1.390440,1.995790,...,-0.462787,0.941996,0.694427,0.773576,1.77916,-0.996569,-0.010325,1.453840,0.320407,0.420606
5,Health Care,10.49250,0.120117,1.743260,-0.118327,0.460886,2.317150,2.379070,1.515660,1.460630,...,0.761425,1.251040,0.793514,0.731007,2.52863,-1.010930,0.683753,5.620930,1.312940,1.964690
6,Industrials,10.46010,-0.989633,1.553100,1.774140,-0.537723,1.571640,2.339170,1.574880,0.971131,...,0.342796,0.806740,0.074649,0.970296,2.15212,-0.618917,1.282790,0.777532,0.700543,0.384083
7,Information Technology,10.33240,-0.310802,2.784640,1.841740,-0.126387,1.556310,2.277890,1.227800,1.121840,...,0.361102,1.254300,0.493046,0.254944,3.32452,-2.064620,2.433900,-2.077690,5.355340,2.170030
8,Materials,7.48167,-1.581840,1.116620,1.905010,-1.221100,1.109780,1.567460,1.744230,-0.059187,...,0.937347,1.781800,0.479025,0.915331,1.67395,0.077247,2.000550,-0.222668,-0.102439,-0.070920
9,Real Estate,14.07830,-0.290907,0.484394,0.638758,-0.304010,2.273170,-0.010833,1.379830,2.004620,...,-0.890487,2.598020,0.874574,1.751240,3.62623,-0.936883,1.060750,1.377570,0.053194,0.466513
10,S&P,9.73248,-0.645127,1.106750,1.102890,-0.414182,1.475190,2.009400,1.195840,1.294430,...,0.249024,1.269960,0.557416,0.957625,2.33884,-0.719846,0.832291,1.064280,0.919836,0.859476
11,Utilities,7.44491,0.728027,1.476620,1.223440,-0.705994,2.125820,0.955728,0.660289,1.462170,...,-0.133403,1.197640,0.393913,1.143150,2.14244,-1.028360,-1.234460,2.830840,-1.921340,0.667705