In [31]:
# Import relevant packages
#Import Modules
import os
import numpy as np
import pandas as pd
import requests
import datetime as dt
import random
from Config import api_key
from Config2 import pwd
# BDay is business day
from pandas.tseries.offsets import BDay
import math
import time
import calendar
import re
from sqlalchemy import create_engine
import pymysql
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy.orm import Session

In [32]:
# setup pymysql and connect to local MySQL workbench
pymysql.install_as_MySQLdb() 
string = f"mysql://ucbx:{pwd}@stock-data-analysis.ciuxgx1cjbsw.us-east-2.rds.amazonaws.com/stock_data"
engine = create_engine(string)
# Establish a connection to the local DB
conn = engine.connect()

In [33]:
stock = pd.read_sql('select distinct(symbol) from sandp_stocks;', con=conn)
stock_list = stock['symbol'].tolist()
stock_list

['MMM',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADBE',
 'AMD',
 'AAP',
 'AES',
 'AMG',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALXN',
 'ALGN',
 'ALLE',
 'AGN',
 'ADS',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'APC',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'AIV',
 'AAPL',
 'AMAT',
 'APTV',
 'ADM',
 'ARNC',
 'ANET',
 'AJG',
 'AIZ',
 'ATO',
 'T',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'BHGE',
 'BLL',
 'BAC',
 'BK',
 'BAX',
 'BBT',
 'BDX',
 'BRK-B',
 'BBY',
 'BIIB',
 'BLK',
 'HRB',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BHF',
 'BMY',
 'AVGO',
 'BR',
 'BF-B',
 'CHRW',
 'COG',
 'CDNS',
 'CPB',
 'COF',
 'CPRI',
 'CAH',
 'KMX',
 'CCL',
 'CAT',
 'CBOE',
 'CBRE',
 'CBS',
 'CE',
 'CELG',
 'CNC',
 'CNP',
 'CTL',
 'CERN',
 'CF',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'XEC',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'CXO',
 'COP',
 'ED',
 'STZ',
 'COO',
 'CPRT',
 'GLW',
 'COST',
 'COTY',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'FANG',
 'DLR',
 'DFS',
 'DISCA',
 'DISCK',
 'DISH',
 'DG',
 'DLTR',
 'D',
 'DOV',
 'DWDP',
 'DTE',
 'DRE',
 'DUK',
 'DXC',
 'ETFC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ETR',
 'EOG',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'EVRG',
 'ES',
 'RE',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FB',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FE',
 'FRC',
 'FISV',
 'FLT',
 'FLIR',
 'FLS',
 'FLR',
 'FMC',
 'FL',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'BEN',
 'FCX',
 'GPS',
 'GRMN',
 'IT',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GS',
 'GT',
 'GWW',
 'HAL',
 'HBI',
 'HOG',
 'HRS',
 'HIG',
 'HAS',
 'HCA',
 'HCP',
 'HP',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HFC',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IDXX',
 'INFO',
 'ITW',
 'ILMN',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'INCY',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JKHY',
 'JEC',
 'JBHT',
 'JEF',
 'SJM',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'KSU',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KSS',
 'KHC',
 'KR',
 'LB',
 'LLL',
 'LH',
 'LRCX',
 'LW',
 'LEG',
 'LEN',
 'LLY',
 'LNC',
 'LIN',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LYB',
 'MTB',
 'MAC',
 'M',
 'MRO',
 'MPC',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MAT',
 'MKC',
 'MXIM',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MHK',
 'TAP',
 'MDLZ',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'MYL',
 'NDAQ',
 'NOV',
 'NKTR',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NBL',
 'JWN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'ORLY',
 'OXY',
 'OMC',
 'OKE',
 'ORCL',
 'PCAR',
 'PKG',
 'PH',
 'PAYX',
 'PYPL',
 'PNR',
 'PBCT',
 'PEP',
 'PKI',
 'PRGO',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'RL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RJF',
 'RTN',
 'O',
 'RHT',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'SHW',
 'SPG',
 'SWKS',
 'SLG',
 'SNA',
 'SO',
 'LUV',
 'SPGI',
 'SWK',
 'SBUX',
 'STT',
 'SYK',
 'STI',
 'SIVB',
 'SYMC',
 'SYF',
 'SNPS',
 'SYY',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'FTI',
 'TFX',
 'TXN',
 'TXT',
 'TMO',
 'TIF',
 'TWTR',
 'TJX',
 'TMK',
 'TSS',
 'TSCO',
 'TDG',
 'TRV',
 'TRIP',
 'FOXA',
 'FOX',
 'TSN',
 'UDR',
 'ULTA',
 'USB',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UNH',
 'UPS',
 'URI',
 'UTX',
 'UHS',
 'UNM',
 'VFC',
 'VLO',
 'VAR',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VIAB',
 'V',
 'VNO',
 'VMC',
 'WMT',
 'WBA',
 'DIS',
 'WM',
 'WAT',
 'WEC',
 'WCG',
 'WFC',
 'WELL',
 'WDC',
 'WU',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WLTW',
 'WYNN',
 'XEL',
 'XRX',
 'XLNX',
 'XYL',
 'YUM',
 'ZBH',
 'ZION',
 'ZTS']

In [34]:
stock_data_df = pd.read_sql('select * from stock_daily_adjusted;', con=conn)
# reset the data types for each of the columns in the merged dataframe
stock_data_df["symbol"] = stock_data_df.symbol.astype(str)
stock_data_df["date"] = pd.to_datetime(stock_data_df["date"])
stock_data_df["open"] = stock_data_df.close.astype(float)
stock_data_df["high"] = stock_data_df.close.astype(float)
stock_data_df["close"] = stock_data_df.close.astype(float)
stock_data_df["low"] = stock_data_df.close.astype(float)
stock_data_df["adjusted_close"] = stock_data_df.close.astype(float)
stock_data_df["volume"] = stock_data_df.close.astype(float)
stock_data_df["divident_amount"] = stock_data_df.close.astype(float)
stock_data_df["split_coeff"] = stock_data_df.close.astype(float)
#merged_df.dtypes
stock_data_df.head()

,symbol,date,open,high,low,close,adjusted_close,volume,divident_amount,split_coeff
0,MMM,2019-02-15,208.86,208.86,208.86,208.86,208.86,208.86,208.86,208.86
1,MMM,2019-02-14,204.93,204.93,204.93,204.93,204.93,204.93,204.93,204.93
2,MMM,2019-02-13,209.72,209.72,209.72,209.72,209.72,209.72,209.72,209.72
3,MMM,2019-02-12,206.57,206.57,206.57,206.57,206.57,206.57,206.57,206.57
4,MMM,2019-02-11,200.91,200.91,200.91,200.91,200.91,200.91,200.91,200.91

In [35]:
# function to clacualte year on year return for any given stock
# def yonycalc(curr_date):
#     curr_date = pd.to_datetime(curr_date)
#     filter1 = (merged_df['date'] == curr_date) 
#     merged_df2 = merged_df.loc[filter1]['close'].astype(float).reset_index(drop=True)
#     #print(curr_date)
#     #print(df2)
#     past_date = curr_date- pd.DateOffset(years=1)
#     filter2 = (merged_df['date'] == past_date)
#     merged_df3 = merged_df.loc[filter2]['close'].astype(float).reset_index(drop=True)
#     #print(past_date)
#     #print(df3)
#     if merged_df3.empty:
#         #print('holiday so taking pre buss day')
#         prev_buss_date = (past_date - BDay(1))
#         #print(prev_buss_date)
#         filter2 = (merged_df['date'] == prev_buss_date)
#         merged_df3 = merged_df.loc[filter2]['close'].astype(float).reset_index(drop=True)
#         #print(df3)
#         yonyperc = ((merged_df2 - merged_df3)/ merged_df3)*100
#         return yonyperc
#     #('data avoil for date 1 year from data point')
#     yonyperc = ((merged_df2 - merged_df3)/ merged_df3)*100
#     # print(yonyperc)
#     return yonyperc
# #merged_df['yony'] = merged_df['date'].apply(lambda x: yonycalc(x))
# #print(merged_df.head())
# #mean = merged_df['yony'].mean()
# #print(mean)

In [36]:
sandp_data = pd.read_sql('select * from sandp_stocks;', con=conn)
sandp_data.head()

,index,security,symbol,sec_filing,gics_sector,gics_sub_industry,hq_location,date_added,cik,year_founded
0,1,3M Company,MMM,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",None,0000066740,1902
1,2,Abbott Laboratories,ABT,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888
2,3,AbbVie Inc.,ABBV,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
3,4,ABIOMED Inc,ABMD,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,0000815094,1981
4,5,Accenture plc,ACN,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989

In [37]:
yony_df = pd.read_sql('select * from stock_yony_return;', con=conn)
yony_df.head()

,symbol,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,A,Health Care,15.771000,0.378040,2.776520,0.681839,0.499793,0.220303,2.256110,0.876697,...,0.154152,0.637198,2.622190,-1.400120,3.417690,-2.759370,-4.296870,-0.529084,37.96410,-1.248700
1,AAL,Industrials,10.129300,-3.013790,0.918848,1.415060,-2.419120,6.002280,5.152610,10.767200,...,-10.314900,4.199810,16.561600,0.750467,0.449046,0.228621,-0.916649,2.577700,-2.25603,0.726298
2,AAP,Consumer Discretionary,0.810537,3.398080,-3.700460,0.701321,0.008756,3.695520,3.149150,0.318547,...,0.857369,-1.502860,0.665826,-3.591340,4.052800,1.938790,11.536100,-3.213780,1.76626,5.632980
3,AAPL,Information Technology,5.395140,-1.525940,2.545430,0.875710,-0.043872,-4.351070,0.613752,2.374530,...,7.291830,1.732970,2.352800,10.015700,3.301150,-3.177230,4.021390,-13.458200,8.25453,7.575530
4,ABBV,Health Care,-10.019100,-0.590313,3.175780,0.493654,-1.082620,2.625750,2.779740,1.365400,...,1.129000,1.962460,-1.343880,-0.178627,1.101100,-1.629060,0.695523,2.544370,-2.24506,2.913910

In [38]:
# group the data by gics_sector
yony_df_grouped = yony_df.groupby('gics_sector', as_index=False).mean()
yony_df_grouped

,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,Communication Services,8.989850,-0.043309,0.731341,0.197925,-0.003091,0.338494,4.035512,1.350982,0.953892,...,0.169634,1.552122,0.040248,1.112473,2.276232,-0.486088,1.152962,-0.706753,4.186045,0.675045
1,Consumer Discretionary,9.612187,-0.764938,1.203615,0.013294,-0.491275,1.539802,2.429814,1.599631,1.547737,...,-0.734985,1.200285,0.751642,0.949926,3.272479,-0.358924,2.621293,-0.463723,-0.066930,2.321826
2,Consumer Staples,6.009116,-0.600336,0.831505,0.079082,0.668216,1.761335,1.597841,0.197776,1.059971,...,0.239532,1.209134,0.064241,0.697809,1.299542,-0.611485,0.107587,0.148318,-0.542984,1.562196
3,Energy,12.699867,-1.845318,-0.691322,2.973535,-2.036200,0.330429,1.864564,0.512689,1.720196,...,2.149084,0.176500,1.472294,1.234130,1.651956,0.117225,-0.943599,2.968905,0.823413,-1.107540
4,Financials,9.456338,-1.517460,0.940432,1.603235,-0.259321,1.303111,2.667226,1.390443,1.995785,...,-0.462787,0.941996,0.694427,0.773576,1.779159,-0.996568,-0.010325,1.453843,0.320407,0.420606
5,Health Care,10.492479,0.120117,1.743260,-0.118327,0.460886,2.317154,2.379065,1.515663,1.460627,...,0.761425,1.251044,0.793514,0.731007,2.528635,-1.010932,0.683753,5.620933,1.312944,1.964694
6,Industrials,10.460057,-0.989633,1.553102,1.774137,-0.537723,1.571643,2.339172,1.574884,0.971131,...,0.342796,0.806740,0.074649,0.970296,2.152120,-0.618917,1.282791,0.777532,0.700543,0.384083
7,Information Technology,10.332430,-0.310802,2.784645,1.841740,-0.126387,1.556311,2.277885,1.227796,1.121839,...,0.361102,1.254302,0.493046,0.254944,3.324516,-2.064619,2.433901,-2.077686,5.355341,2.170027
8,Materials,7.481668,-1.581841,1.116622,1.905007,-1.221102,1.109778,1.567459,1.744227,-0.059187,...,0.937347,1.781800,0.479025,0.915331,1.673947,0.077247,2.000548,-0.222668,-0.102439,-0.070921
9,Real Estate,14.078349,-0.290907,0.484394,0.638758,-0.304010,2.273165,-0.010833,1.379833,2.004621,...,-0.890487,2.598016,0.874574,1.751240,3.626227,-0.936883,1.060751,1.377567,0.053194,0.466512
10,Utilities,7.444909,0.728027,1.476618,1.223441,-0.705994,2.125824,0.955728,0.660289,1.462166,...,-0.133403,1.197638,0.393913,1.143149,2.142443,-1.028359,-1.234457,2.830840,-1.921343,0.667705

In [51]:
# Ranking of sectors based on most consistent performance over last 20 years
# get list of years for which rankings are required
year_s = list(yony_df.columns.values)
year_s = year_s[2:]
# define an empty rank dictionary
rank = {}
# for each year perform ranking
for year in year_s:
    # create a filter and sort by descending value of year on year returns
    mylist = ['gics_sector',year]
    temporary_df = yony_df_grouped[mylist].sort_values(by=[year],ascending=False).reset_index(drop=True)
    # use rank function to perform ranking of the sorted data
    temporary_df['rank'] = temporary_df[year].rank(ascending=0)
    #print (temporary_df)
    # for each sector in the dataframe, add the ranking info to a dictionary
    for sector in temporary_df['gics_sector']:
        # Create a filter to filter out the dataframe for each sector
        filter1 = (temporary_df['gics_sector'] == sector)
        temporary_df2 = temporary_df.loc[filter1].reset_index(drop=True)
        # if sector is already in dictionary then add the current rank to previous rank
        if sector in rank: 
            rank[sector] = rank[sector] + temporary_df2['rank']
        # if sector is NOT already in dictionary then add the sector to the dictionary along with its current rank
        else:
            rank[sector] = temporary_df2['rank']

# convert the rank dictionary to a dataframe
rank_df = pd.DataFrame.from_dict(rank)
rank_df = rank_df.transpose()
# sort the dataframe by ascending order of rank
rank_df = rank_df.sort_values(by=[0],ascending=True)
rank_df

                            0
Health Care             102.0
Real Estate             106.0
Consumer Discretionary  114.0
Information Technology  119.0
Industrials             130.0
Communication Services  134.0
Energy                  140.0
Financials              141.0
Materials               142.0
Utilities               159.0
Consumer Staples        165.0

In [52]:
# pick the top 4 sectors
rank_df_top = rank_df.iloc[0:4,:]
#convert the top 4 sectors to a list
top4_sectors = rank_df_top.index.tolist()
print(top4_sectors)
rank_df_bottom =  rank_df.iloc[-4:]
bottom4_sectors = rank_df_bottom.index.tolist()
print(bottom4_sectors)

['Health Care', 'Real Estate', 'Consumer Discretionary', 'Information Technology']
['Financials', 'Materials', 'Utilities', 'Consumer Staples']

In [59]:
# create a filter to filter out all stocks that belong to the top 4 sectos
filter_value2 = (yony_df['gics_sector'] == top4_sectors[0])
sector_df = yony_df.loc[filter_value2].reset_index(drop=True)
sector_df.head()

,symbol,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,A,Health Care,15.77100,0.378040,2.776520,0.681839,0.499793,0.220303,2.25611,0.876697,...,0.154152,0.637198,2.62219,-1.400120,3.417690,-2.759370,-4.296870,-0.529084,37.96410,-1.24870
1,ABBV,Health Care,-10.01910,-0.590313,3.175780,0.493654,-1.082620,2.625750,2.77974,1.365400,...,1.129000,1.962460,-1.34388,-0.178627,1.101100,-1.629060,0.695523,2.544370,-2.24506,2.91391
2,ABC,Health Care,11.98120,-1.128620,0.937647,-1.991590,1.086160,2.458930,3.61761,0.720496,...,0.603045,0.244531,-1.42765,0.398976,0.229049,-0.273895,2.212860,10.976800,-10.11380,3.50809
3,ABMD,Health Care,13.26300,3.277290,4.150830,1.927450,8.483530,4.566460,6.31160,0.906423,...,1.678670,4.287820,-2.81092,5.212300,2.249720,-8.871270,-2.243600,7.322320,15.02340,-1.29875
4,ABT,Health Care,5.00719,1.897340,2.955100,-1.099630,0.000240,1.934860,1.35632,1.365400,...,1.129000,1.962460,-1.34388,-0.178627,1.101100,-1.629060,0.695523,2.544370,-2.24506,2.91391

In [57]:
# Ranking of stocks from top 4 sectors based on most consistent performance over last 20 years
# define an empty stock rank dictionary
stock_rank = {}
# for each year perform ranking
for year in year_s:
    # create a filter and sort by descending value of year on year returns
    mylist = ['symbol',year]
    temporary_df3 = sector_df[mylist].sort_values(by=[year],ascending=False).reset_index(drop=True)
    # use rank function to perform ranking of the sorted data
    temporary_df3['rank'] = temporary_df3[year].rank(ascending=0)
    #print (temporary_df3)
    # for each stock in the dataframe, add the ranking info to a dictionary
    for symbol in temporary_df3['symbol']:
        # Create a filter to filter out the dataframe for each stock
        filter2 = (temporary_df3['symbol'] == symbol)
        temporary_df4 = temporary_df3.loc[filter2].reset_index(drop=True)
        # if stock is already in dictionary then add the current rank to previous rank
        if symbol in stock_rank: 
            stock_rank[symbol] = stock_rank[symbol] + temporary_df4['rank']
        # if stock is NOT already in dictionary then add the sector to the dictionary along with its current rank
        else:
            stock_rank[symbol] = temporary_df4['rank']

# convert the stock rank dictionary to a dataframe
stock_rank_df = pd.DataFrame.from_dict(stock_rank)
stock_rank_df = stock_rank_df.transpose()
# sort the dataframe by ascending order of rank
stock_rank_df = stock_rank_df.sort_values(by=[0],ascending=True)
stock_rank_df.head()

          0
ABMD  466.0
REGN  489.0
IDXX  495.0
ALGN  505.5
ILMN  522.0

In [58]:
# pick the top 4 sectors
stock_rank_df_top = stock_rank_df.iloc[0:4,:]
#convert the top 4 sectors to a list
top4_stocks = stock_rank_df_top.index.tolist()
print(top4_stocks)
stock_rank_df_bottom =  stock_rank_df.iloc[-4:]
bottom4_stocks = stock_rank_df_bottom.index.tolist()
print(bottom4_stocks)

['ABMD', 'REGN', 'IDXX', 'ALGN']
['JNJ', 'BMY', 'MRK', 'PFE']

In [61]:
# identify the gics_sub_industry for the top stock
# create a filter to filter out the data for the top stock from the s&P 500 dataframe
filter = (sandp_data['symbol']==top4_stocks[0])
top_stock_df = sandp_data.loc[filter]
#Fetch the gics_sub_industry for the top stock 
sub_industry = top_stock_df['gics_sub_industry'].tolist()
sub_industry1 = sub_industry[0]
print(sub_industry1)

Health Care Equipment

In [62]:
#define the site to fetch attributes for the top stock
site2 = f"https://finance.yahoo.com/quote/{top4_stocks[0]}"
print(site2)
#parse the site into pandas table
table = pd.read_html(site2)
df_yahoo1 = table[0]
df_yahoo2 = table[1]
df_yahoo1

https://finance.yahoo.com/quote/ABMD

                0                1
0  Previous Close           362.25
1            Open           362.02
2             Bid     357.73 x 900
3             Ask    358.22 x 1400
4     Day's Range  356.67 - 362.02
5   52 Week Range  258.10 - 459.75
6          Volume           191695
7     Avg. Volume           537338

In [63]:
df_yahoo3 = df_yahoo1
# provide column names to the dataFrame (use the symbol and its value)
df_yahoo3.columns = ['Symbol', top4_stocks[0]]
# set the Symbol column as the index to the dataframe
df_yahoo3.set_index('Symbol', inplace=True)
# transpose dataframe to switch columns and rows
df_yahoo3 = df_yahoo1.transpose()
df_yahoo3

Symbol,Previous Close,Open,Bid,Ask,Day's Range,52 Week Range,Volume,Avg. Volume
ABMD,362.25,362.02,357.73 x 900,358.22 x 1400,356.67 - 362.02,258.10 - 459.75,191695,537338

In [64]:
df_yahoo4 = df_yahoo2
# provide column names to the dataFrame (use the symbol and its value)
df_yahoo4.columns = ['Symbol', top4_stocks[0]]
# set the Symbol column as the index to the dataframe
df_yahoo4.set_index('Symbol', inplace=True)
# transpose dataframe to switch columns and rows
df_yahoo4 = df_yahoo4.transpose()
df_yahoo4

Symbol,Market Cap,Beta (3Y Monthly),PE Ratio (TTM),EPS (TTM),Earnings Date,Forward Dividend & Yield,Ex-Dividend Date,1y Target Est
ABMD,16.148B,1.47,74.49,4.81,"May 1, 2019 - May 6, 2019",N/A (N/A),NaN,435.10

In [69]:
# extract the PE Ratio (TTM) for the top stock
df_yahoo4['PE Ratio (TTM)'] = df_yahoo4['PE Ratio (TTM)'].astype(float)
# extract the EPS (TTM) for the top stock
df_yahoo4['EPS (TTM)'] = df_yahoo4['EPS (TTM)'].astype(float)
# extract the 1y Target Est for the top stock
df_yahoo4['1y Target Est'] = df_yahoo4['1y Target Est'].astype(float)
# determine the current stock price
curr_stock_price = df_yahoo4['PE Ratio (TTM)']*df_yahoo4['EPS (TTM)']
print(f"Current stock price is {curr_stock_price}")
# determine the retrun on investment comparing current stock price vs 1ys Target Est
stock_roi = ((df_yahoo4['1y Target Est'] - curr_stock_price) / curr_stock_price)*100
print(f"1year targer est is {df_yahoo4['1y Target Est']}")
print(f"Stock return on investment is {stock_roi}")

Current stock price is ABMD    358.2969
dtype: float64
1year targer est is ABMD    435.1
Name: 1y Target Est, dtype: float64
Stock return on investment is ABMD    21.435603
dtype: float64

In [67]:
# pick 3 random stocks in the same gics_sub_industry as the top stock
# filter dataset based on top stock's gics_sub_industry
df_wiki1_filtered = sandp_data[(sandp_data.gics_sub_industry==sub_industry1)]
# pick 3 random stocks in the same gics_sub_industry as the top stock 
df_wiki1_filtered_random = df_wiki1_filtered['symbol'].sample(n=3, random_state=1).reset_index(drop=True)
rand_list = df_wiki1_filtered_random.tolist()
print(rand_list)

['BAX', 'TFX', 'DHR']

In [68]:
# for each of the 3 random stocks that belong to the same gics_sub_industry as the top stock, determine the current price and return on investment comparing current stock price vs 1ys Target Est 
for item in rand_list:
    #define the site to fetch attributes for the stock
    site = f"https://finance.yahoo.com/quote/{item}"
    #parse the site into pandas table
    table = pd.read_html(site)
    df_yahoo = table[1]
    # provide column names to the dataFrame
    df_yahoo.columns = ['desc', 'value']
    # set the desc column as the index to the dataframe
    df_yahoo.set_index('desc', inplace=True)
    # transpose dataframe to switch columns and rows
    df_yahoo = df_yahoo.transpose()
    # extract the PE Ratio (TTM) for the stock
    df_yahoo['PE Ratio (TTM)'] = df_yahoo['PE Ratio (TTM)'].astype(float)
    # extract the EPS (TTM) for the stock
    df_yahoo['EPS (TTM)'] = df_yahoo['EPS (TTM)'].astype(float)
    # extract the 1y Target Est for the stock
    df_yahoo['1y Target Est'] = df_yahoo['1y Target Est'].astype(float)
    # determine the current stock price
    curr_stock_price = df_yahoo['PE Ratio (TTM)']*df_yahoo['EPS (TTM)']
    # extract the estimated stock price
    est_stock_price = df_yahoo['1y Target Est']
    print(type(est_stock_price))
    print(f"Symbol: {item} - Current stock_price is {curr_stock_price} and 1year targer est is {est_stock_price}")
    # determine the return on investment comparing current stock price vs 1ys Target Est
    stock_roi = ((df_yahoo['1y Target Est'] - curr_stock_price) / curr_stock_price)*100
    print(f"Symbol: {item} - 1year ROI is {stock_roi}")

<class 'pandas.core.series.Series'>
Symbol: BAX - Current stock_price is value    74.053
dtype: float64 and 1year targer est is value    78.53
Name: 1y Target Est, dtype: float64
Symbol: BAX - 1year ROI is value    6.04567
dtype: float64
<class 'pandas.core.series.Series'>
Symbol: TFX - Current stock_price is value    272.571
dtype: float64 and 1year targer est is value    299.82
Name: 1y Target Est, dtype: float64
Symbol: TFX - 1year ROI is value    9.997028
dtype: float64
<class 'pandas.core.series.Series'>
Symbol: DHR - Current stock_price is value    112.1626
dtype: float64 and 1year targer est is value    116.07
Name: 1y Target Est, dtype: float64
Symbol: DHR - 1year ROI is value    3.483692
dtype: float64

In [70]:
yony_df_grouped

,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,Communication Services,8.989850,-0.043309,0.731341,0.197925,-0.003091,0.338494,4.035512,1.350982,0.953892,...,0.169634,1.552122,0.040248,1.112473,2.276232,-0.486088,1.152962,-0.706753,4.186045,0.675045
1,Consumer Discretionary,9.612187,-0.764938,1.203615,0.013294,-0.491275,1.539802,2.429814,1.599631,1.547737,...,-0.734985,1.200285,0.751642,0.949926,3.272479,-0.358924,2.621293,-0.463723,-0.066930,2.321826
2,Consumer Staples,6.009116,-0.600336,0.831505,0.079082,0.668216,1.761335,1.597841,0.197776,1.059971,...,0.239532,1.209134,0.064241,0.697809,1.299542,-0.611485,0.107587,0.148318,-0.542984,1.562196
3,Energy,12.699867,-1.845318,-0.691322,2.973535,-2.036200,0.330429,1.864564,0.512689,1.720196,...,2.149084,0.176500,1.472294,1.234130,1.651956,0.117225,-0.943599,2.968905,0.823413,-1.107540
4,Financials,9.456338,-1.517460,0.940432,1.603235,-0.259321,1.303111,2.667226,1.390443,1.995785,...,-0.462787,0.941996,0.694427,0.773576,1.779159,-0.996568,-0.010325,1.453843,0.320407,0.420606
5,Health Care,10.492479,0.120117,1.743260,-0.118327,0.460886,2.317154,2.379065,1.515663,1.460627,...,0.761425,1.251044,0.793514,0.731007,2.528635,-1.010932,0.683753,5.620933,1.312944,1.964694
6,Industrials,10.460057,-0.989633,1.553102,1.774137,-0.537723,1.571643,2.339172,1.574884,0.971131,...,0.342796,0.806740,0.074649,0.970296,2.152120,-0.618917,1.282791,0.777532,0.700543,0.384083
7,Information Technology,10.332430,-0.310802,2.784645,1.841740,-0.126387,1.556311,2.277885,1.227796,1.121839,...,0.361102,1.254302,0.493046,0.254944,3.324516,-2.064619,2.433901,-2.077686,5.355341,2.170027
8,Materials,7.481668,-1.581841,1.116622,1.905007,-1.221102,1.109778,1.567459,1.744227,-0.059187,...,0.937347,1.781800,0.479025,0.915331,1.673947,0.077247,2.000548,-0.222668,-0.102439,-0.070921
9,Real Estate,14.078349,-0.290907,0.484394,0.638758,-0.304010,2.273165,-0.010833,1.379833,2.004621,...,-0.890487,2.598016,0.874574,1.751240,3.626227,-0.936883,1.060751,1.377567,0.053194,0.466512
10,Utilities,7.444909,0.728027,1.476618,1.223441,-0.705994,2.125824,0.955728,0.660289,1.462166,...,-0.133403,1.197638,0.393913,1.143149,2.142443,-1.028359,-1.234457,2.830840,-1.921343,0.667705

In [71]:
health_filter = (yony_df_grouped['gics_sector']=='Health Care')
health_df = yony_df_grouped.loc[health_filter]
health_df

,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
5,Health Care,10.492479,0.120117,1.74326,-0.118327,0.460886,2.317154,2.379065,1.515663,1.460627,...,0.761425,1.251044,0.793514,0.731007,2.528635,-1.010932,0.683753,5.620933,1.312944,1.964694

In [85]:
health_dict = health_df.to_dict(orient='split')
health_dict

{'index': [5],
 'columns': ['gics_sector',
  '2019',
  '2018',
  '2017',
  '2016',
  '2015',
  '2014',
  '2013',
  '2012',
  '2011',
  '2010',
  '2009',
  '2008',
  '2007',
  '2006',
  '2005',
  '2004',
  '2003',
  '2002',
  '2001',
  '2000',
  '1999',
  '1998'],
 'data': [['Health Care',
   10.49247856935484,
   0.1201174241935483,
   1.7432604354838712,
   -0.11832731774193544,
   0.46088632324193557,
   2.31715420967742,
   2.3790651903225806,
   1.515663280645161,
   1.4606266338709677,
   0.5984652241935483,
   3.022454564516129,
   -2.1587625741935486,
   0.7614254451612904,
   1.2510442354838711,
   0.7935141612903225,
   0.7310069532258063,
   2.528634719354839,
   -1.010931935483871,
   0.6837532774193548,
   5.620932677419357,
   1.3129435500000006,
   1.9646935080645163]]}

In [92]:
health_dict['data']

[['Health Care',
  10.49247856935484,
  0.1201174241935483,
  1.7432604354838712,
  -0.11832731774193544,
  0.46088632324193557,
  2.31715420967742,
  2.3790651903225806,
  1.515663280645161,
  1.4606266338709677,
  0.5984652241935483,
  3.022454564516129,
  -2.1587625741935486,
  0.7614254451612904,
  1.2510442354838711,
  0.7935141612903225,
  0.7310069532258063,
  2.528634719354839,
  -1.010931935483871,
  0.6837532774193548,
  5.620932677419357,
  1.3129435500000006,
  1.9646935080645163]]