In [1]:
import requests
import json
import datetime
import pandas as pd

In [2]:
##Code for 1 Symbol, Put into loop with list of symbols.

In [3]:
##Make request for data from alphavnatage for time_series_monthyly_Adjusted
symbol = "MSFT"
key = 'LJCGH85CJ2IPJU3R'
url = f"https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol={symbol}&apikey={key}"
response = requests.get(url).json()

In [4]:
#store meta data to add symbol to table after
meta_data = response["Meta Data"]

In [5]:
# Actual Date into dict to read into frame
response = json.dumps(response["Monthly Adjusted Time Series"])

In [6]:
meta_data

{'1. Information': 'Monthly Adjusted Prices and Volumes',
 '2. Symbol': 'MSFT',
 '3. Last Refreshed': '2019-01-28',
 '4. Time Zone': 'US/Eastern'}

In [7]:
response

'{"2019-01-28": {"1. open": "99.5500", "2. high": "107.9000", "3. low": "97.2000", "4. close": "105.0800", "5. adjusted close": "105.0800", "6. volume": "577528857", "7. dividend amount": "0.0000"}, "2018-12-31": {"1. open": "113.0000", "2. high": "113.4200", "3. low": "93.9600", "4. close": "101.5700", "5. adjusted close": "101.5700", "6. volume": "944287635", "7. dividend amount": "0.0000"}, "2018-11-30": {"1. open": "107.0500", "2. high": "112.2400", "3. low": "99.3528", "4. close": "110.8900", "5. adjusted close": "110.8900", "6. volume": "720228643", "7. dividend amount": "0.4600"}, "2018-10-31": {"1. open": "114.7500", "2. high": "116.1800", "3. low": "100.1100", "4. close": "106.8100", "5. adjusted close": "106.3440", "6. volume": "927547942", "7. dividend amount": "0.0000"}, "2018-09-28": {"1. open": "110.8500", "2. high": "115.2900", "3. low": "107.2300", "4. close": "114.3700", "5. adjusted close": "113.8710", "6. volume": "480255674", "7. dividend amount": "0.0000"}, "2018-08-31": {"1. open": "106.0300", "2. high": "112.7770", "3. low": "104.8400", "4. close": "112.3300", "5. adjusted close": "111.8399", "6. volume": "456630721", "7. dividend amount": "0.4200"}, "2018-07-31": {"1. open": "98.1000", "2. high": "111.1500", "3. low": "98.0000", "4. close": "106.0800", "5. adjusted close": "105.2067", "6. volume": "569501573", "7. dividend amount": "0.0000"}, "2018-06-29": {"1. open": "99.2798", "2. high": "102.6900", "3. low": "97.2600", "4. close": "98.6100", "5. adjusted close": "97.7982", "6. volume": "602585341", "7. dividend amount": "0.0000"}, "2018-05-31": {"1. open": "93.2100", "2. high": "99.9900", "3. low": "92.4500", "4. close": "98.8400", "5. adjusted close": "98.0263", "6. volume": "509418119", "7. dividend amount": "0.4200"}, "2018-04-30": {"1. open": "90.4700", "2. high": "97.9000", "3. low": "87.5100", "4. close": "93.5200", "5. adjusted close": "92.3509", "6. volume": "668258570", "7. dividend amount": "0.0000"}, "2018-03-29": {"1. open": "93.9900", "2. high": "97.2400", "3. low": "87.0800", "4. close": "91.2700", "5. adjusted close": "90.1290", "6. volume": "732866406", "7. dividend amount": "0.0000"}, "2018-02-28": {"1. open": "94.7900", "2. high": "96.0700", "3. low": "83.8300", "4. close": "93.7700", "5. adjusted close": "92.5978", "6. volume": "690287596", "7. dividend amount": "0.4200"}, "2018-01-31": {"1. open": "86.1250", "2. high": "95.4500", "3. low": "85.5000", "4. close": "95.0100", "5. adjusted close": "93.3903", "6. volume": "543377322", "7. dividend amount": "0.0000"}, "2017-12-29": {"1. open": "83.6000", "2. high": "87.4999", "3. low": "80.7000", "4. close": "85.5400", "5. adjusted close": "84.0818", "6. volume": "447828256", "7. dividend amount": "0.0000"}, "2017-11-30": {"1. open": "83.6800", "2. high": "85.0600", "3. low": "82.2400", "4. close": "84.1700", "5. adjusted close": "82.7351", "6. volume": "416152260", "7. dividend amount": "0.4200"}, "2017-10-31": {"1. open": "74.7100", "2. high": "86.2000", "3. low": "73.7100", "4. close": "83.1800", "5. adjusted close": "81.3502", "6. volume": "440510118", "7. dividend amount": "0.0000"}, "2017-09-29": {"1. open": "74.7100", "2. high": "75.9700", "3. low": "72.9200", "4. close": "74.4900", "5. adjusted close": "72.8514", "6. volume": "367134396", "7. dividend amount": "0.0000"}, "2017-08-31": {"1. open": "73.1000", "2. high": "74.9600", "3. low": "71.2800", "4. close": "74.7700", "5. adjusted close": "73.1252", "6. volume": "429156682", "7. dividend amount": "0.3900"}, "2017-07-31": {"1. open": "69.3300", "2. high": "74.4200", "3. low": "68.0200", "4. close": "72.7000", "5. adjusted close": "70.7241", "6. volume": "451248934", "7. dividend amount": "0.0000"}, "2017-06-30": {"1. open": "70.2400", "2. high": "72.8900", "3. low": "68.0900", "4. close": "68.9300", "5. adjusted close": "67.0565", "6. volume": "610120893", "7. dividend amount": "0.0000"}, "2017-05-31": {"1. open": "68.6800", "2. high": "70.7400", "3. low": "67.1400", "4. close": "69.8400", "5. adjusted close": "67.9418", "6. volume": "505249296", "7. dividend amount": "0.3900"}, "2017-04-28": {"1. open": "65.8100", "2. high": "69.1400", "3. low": "64.8500", "4. close": "68.4600", "5. adjusted close": "66.2272", "6. volume": "428857613", "7. dividend amount": "0.0000"}, "2017-03-31": {"1. open": "64.1300", "2. high": "66.1900", "3. low": "63.6200", "4. close": "65.8600", "5. adjusted close": "63.7120", "6. volume": "489173200", "7. dividend amount": "0.0000"}, "2017-02-28": {"1. open": "64.3550", "2. high": "65.2400", "3. low": "62.7500", "4. close": "63.9800", "5. adjusted close": "61.8933", "6. volume": "440744043", "7. dividend amount": "0.3900"}, "2017-01-31": {"1. open": "62.7900", "2. high": "65.9100", "3. low": "61.9500", "4. close": "64.6500", "5. adjusted close": "62.1660", "6. volume": "494435826", "7. dividend amount": "0.0000"}, "2016-12-30": {"1. open": "60.1100", "2. high": "64.1000", "3. low": "58.8000", "4. close": "62.1400", "5. adjusted close": "59.7524", "6. volume": "513579428", "7. dividend amount": "0.0000"}, "2016-11-30": {"1. open": "59.9700", "2. high": "61.4100", "3. low": "57.2800", "4. close": "60.2600", "5. adjusted close": "57.9446", "6. volume": "613056964", "7. dividend amount": "0.3900"}, "2016-10-31": {"1. open": "57.4050", "2. high": "61.3699", "3. low": "56.3150", "4. close": "59.9200", "5. adjusted close": "57.2385", "6. volume": "614841775", "7. dividend amount": "0.0000"}, "2016-09-30": {"1. open": "57.0100", "2. high": "58.1900", "3. low": "55.6100", "4. close": "57.6000", "5. adjusted close": "55.0223", "6. volume": "526855083", "7. dividend amount": "0.0000"}, "2016-08-31": {"1. open": "56.6000", "2. high": "58.7000", "3. low": "56.1400", "4. close": "57.4600", "5. adjusted close": "54.8886", "6. volume": "467079004", "7. dividend amount": "0.3600"}, "2016-07-29": {"1. open": "51.1300", "2. high": "57.2900", "3. low": "50.3900", "4. close": "56.6800", "5. adjusted close": "53.8063", "6. volume": "647587634", "7. dividend amount": "0.0000"}, "2016-06-30": {"1. open": "52.4400", "2. high": "52.9500", "3. low": "48.0350", "4. close": "51.1700", "5. adjusted close": "48.5756", "6. volume": "823987498", "7. dividend amount": "0.0000"}, "2016-05-31": {"1. open": "50.0000", "2. high": "53.0000", "3. low": "49.4600", "4. close": "53.0000", "5. adjusted close": "50.3129", "6. volume": "530869347", "7. dividend amount": "0.3600"}, "2016-04-29": {"1. open": "55.0500", "2. high": "56.7700", "3. low": "49.3500", "4. close": "49.8700", "5. adjusted close": "47.0065", "6. volume": "699025640", "7. dividend amount": "0.0000"}, "2016-03-31": {"1. open": "50.9700", "2. high": "55.6400", "3. low": "50.5800", "4. close": "55.2300", "5. adjusted close": "52.0588", "6. volume": "640372350", "7. dividend amount": "0.0000"}, "2016-02-29": {"1. open": "54.8800", "2. high": "55.0900", "3. low": "48.1900", "4. close": "50.8800", "5. adjusted close": "47.9585", "6. volume": "814770780", "7. dividend amount": "0.3600"}, "2016-01-29": {"1. open": "54.3200", "2. high": "55.3900", "3. low": "49.1000", "4. close": "55.0900", "5. adjusted close": "51.5635", "6. volume": "927914485", "7. dividend amount": "0.0000"}, "2015-12-31": {"1. open": "54.4100", "2. high": "56.8500", "3. low": "53.6800", "4. close": "55.4800", "5. adjusted close": "51.9285", "6. volume": "793070000", "7. dividend amount": "0.0000"}, "2015-11-30": {"1. open": "52.8500", "2. high": "54.9800", "3. low": "52.5300", "4. close": "54.3500", "5. adjusted close": "50.8708", "6. volume": "662622220", "7. dividend amount": "0.3600"}, "2015-10-30": {"1. open": "44.7500", "2. high": "54.3700", "3. low": "43.7500", "4. close": "52.6400", "5. adjusted close": "48.9377", "6. volume": "857330655", "7. dividend amount": "0.0000"}, "2015-09-30": {"1. open": "42.2300", "2. high": "45.0000", "3. low": "41.6600", "4. close": "44.2600", "5. adjusted close": "41.1471", "6. volume": "670779566", "7. dividend amount": "0.0000"}, "2015-08-31": {"1. open": "46.9800", "2. high": "48.4100", "3. low": "39.7200", "4. close": "43.5200", "5. adjusted close": "40.4591", "6. volume": "776277394", "7. dividend amount": "0.3100"}, "2015-07-31": {"1. open": "44.4600", "2. high": "47.4000", "3. low": "43.3200", "4. close": "46.7000", "5. adjusted close": "43.1326", "6. volume": "725458102", "7. dividend amount": "0.0000"}, "2015-06-30": {"1. open": "47.0600", "2. high": "47.7700", "3. low": "43.9400", "4. close": "44.1500", "5. adjusted close": "40.7774", "6. volume": "664853340", "7. dividend amount": "0.0000"}, "2015-05-29": {"1. open": "48.5800", "2. high": "48.9050", "3. low": "46.0200", "4. close": "46.8600", "5. adjusted close": "43.2804", "6. volume": "633072750", "7. dividend amount": "0.3100"}, "2015-04-30": {"1. open": "40.6000", "2. high": "49.5400", "3. low": "40.1200", "4. close": "48.6400", "5. adjusted close": "44.6336", "6. volume": "874535095", "7. dividend amount": "0.0000"}, "2015-03-31": {"1. open": "43.6700", "2. high": "44.1900", "3. low": "40.5400", "4. close": "40.6550", "5. adjusted close": "37.3063", "6. volume": "824335340", "7. dividend amount": "0.0000"}, "2015-02-27": {"1. open": "40.5900", "2. high": "44.3000", "3. low": "40.2300", "4. close": "43.8500", "5. adjusted close": "40.2382", "6. volume": "656509827", "7. dividend amount": "0.3100"}, "2015-01-30": {"1. open": "46.6600", "2. high": "47.9100", "3. low": "40.3500", "4. close": "40.4000", "5. adjusted close": "36.8105", "6. volume": "918738022", "7. dividend amount": "0.0000"}, "2014-12-31": {"1. open": "47.8800", "2. high": "49.0600", "3. low": "44.9000", "4. close": "46.4500", "5. adjusted close": "42.3229", "6. volume": "626810606", "7. dividend amount": "0.0000"}, "2014-11-28": {"1. open": "46.8900", "2. high": "50.0450", "3. low": "46.7300", "4. close": "47.8100", "5. adjusted close": "43.5621", "6. volume": "523008240", "7. dividend amount": "0.3100"}, "2014-10-31": {"1. open": "46.2700", "2. high": "46.9700", "3. low": "42.1000", "4. close": "46.9500", "5. adjusted close": "42.5082", "6. volume": "853297059", "7. dividend amount": "0.0000"}, "2014-09-30": {"1. open": "45.4300", "2. high": "47.5700", "3. low": "44.5300", "4. close": "46.3600", "5. adjusted close": "41.9740", "6. volume": "860084532", "7. dividend amount": "0.0000"}, "2014-08-29": {"1. open": "43.2100", "2. high": "45.4700", "3. low": "42.2100", "4. close": "45.4300", "5. adjusted close": "41.1320", "6. volume": "513429400", "7. dividend amount": "0.2800"}, "2014-07-31": {"1. open": "41.8600", "2. high": "45.7100", "3. low": "41.0500", "4. close": "43.1600", "5. adjusted close": "38.8368", "6. volume": "731616500", "7. dividend amount": "0.0000"}, "2014-06-30": {"1. open": "40.9500", "2. high": "42.2900", "3. low": "39.8600", "4. close": "41.7000", "5. adjusted close": "37.5231", "6. volume": "555779700", "7. dividend amount": "0.0000"}, "2014-05-30": {"1. open": "40.2401", "2. high": "40.9700", "3. low": "38.5100", "4. close": "40.9400", "5. adjusted close": "36.8392", "6. volume": "574362900", "7. dividend amount": "0.2800"}, "2014-04-30": {"1. open": "41.1500", "2. high": "41.6600", "3. low": "38.9000", "4. close": "40.4000", "5. adjusted close": "36.1032", "6. volume": "746113500", "7. dividend amount": "0.0000"}, "2014-03-31": {"1. open": "37.9200", "2. high": "41.5000", "3. low": "37.4950", "4. close": "40.9900", "5. adjusted close": "36.6304", "6. volume": "778425700", "7. dividend amount": "0.0000"}, "2014-02-28": {"1. open": "37.7400", "2. high": "38.4600", "3. low": "35.6900", "4. close": "38.3100", "5. adjusted close": "34.2355", "6. volume": "705304500", "7. dividend amount": "0.2800"}, "2014-01-31": {"1. open": "37.3500", "2. high": "37.8900", "3. low": "34.6300", "4. close": "37.8400", "5. adjusted close": "33.5643", "6. volume": "930226200", "7. dividend amount": "0.0000"}, "2013-12-31": {"1. open": "38.0900", "2. high": "38.9800", "3. low": "35.5300", "4. close": "37.4100", "5. adjusted close": "33.1829", "6. volume": "826617700", "7. dividend amount": "0.0000"}, "2013-11-29": {"1. open": "35.6700", "2. high": "38.2900", "3. low": "35.3900", "4. close": "38.1300", "5. adjusted close": "33.8215", "6. volume": "800431600", "7. dividend amount": "0.2800"}, "2013-10-31": {"1. open": "33.3500", "2. high": "36.2900", "3. low": "32.8000", "4. close": "35.4050", "5. adjusted close": "31.1669", "6. volume": "965331500", "7. dividend amount": "0.0000"}, "2013-09-30": {"1. open": "31.7500", "2. high": "33.7500", "3. low": "30.9500", "4. close": "33.2800", "5. adjusted close": "29.2963", "6. volume": "1242961500", "7. dividend amount": "0.0000"}, "2013-08-30": {"1. open": "32.0600", "2. high": "35.2000", "3. low": "30.8400", "4. close": "33.4000", "5. adjusted close": "29.4019", "6. volume": "1051265000", "7. dividend amount": "0.2300"}, "2013-07-31": {"1. open": "34.7500", "2. high": "36.4299", "3. low": "31.0200", "4. close": "31.8400", "5. adjusted close": "27.8301", "6. volume": "1111130600", "7. dividend amount": "0.0000"}, "2013-06-28": {"1. open": "34.9200", "2. high": "35.7800", "3. low": "32.5700", "4. close": "34.5450", "5. adjusted close": "30.1944", "6. volume": "945155500", "7. dividend amount": "0.0000"}, "2013-05-31": {"1. open": "32.9300", "2. high": "35.2800", "3. low": "32.3200", "4. close": "34.9000", "5. adjusted close": "30.5047", "6. volume": "1071860000", "7. dividend amount": "0.2300"}, "2013-04-30": {"1. open": "28.6400", "2. high": "33.1100", "3. low": "28.1100", "4. close": "33.1000", "5. adjusted close": "28.7343", "6. volume": "1322883228", "7. dividend amount": "0.0000"}, "2013-03-28": {"1. open": "27.7200", "2. high": "28.6600", "3. low": "27.5200", "4. close": "28.6050", "5. adjusted close": "24.8321", "6. volume": "844946000", "7. dividend amount": "0.0000"}, "2013-02-28": {"1. open": "27.6700", "2. high": "28.2000", "3. low": "27.1000", "4. close": "27.8000", "5. adjusted close": "24.1333", "6. volume": "780587000", "7. dividend amount": "0.2300"}, "2013-01-31": {"1. open": "27.2500", "2. high": "28.2300", "3. low": "26.2800", "4. close": "27.4500", "5. adjusted close": "23.6356", "6. volume": "1145054400", "7. dividend amount": "0.0000"}, "2012-12-31": {"1. open": "26.7800", "2. high": "27.7300", "3. low": "26.2600", "4. close": "26.7097", "5. adjusted close": "22.9982", "6. volume": "947310900", "7. dividend amount": "0.0000"}, "2012-11-30": {"1. open": "28.8400", "2. high": "30.2000", "3. low": "26.3449", "4. close": "26.6150", "5. adjusted close": "22.9167", "6. volume": "1310516100", "7. dividend amount": "0.2300"}, "2012-10-31": {"1. open": "29.8100", "2. high": "30.2500", "3. low": "27.7600", "4. close": "28.5400", "5. adjusted close": "24.3673", "6. volume": "1105402300", "7. dividend amount": "0.0000"}, "2012-09-28": {"1. open": "30.4500", "2. high": "31.6100", "3. low": "29.7400", "4. close": "29.7600", "5. adjusted close": "25.4089", "6. volume": "893107700", "7. dividend amount": "0.0000"}, "2012-08-31": {"1. open": "29.5900", "2. high": "30.9600", "3. low": "28.9700", "4. close": "30.8200", "5. adjusted close": "26.3139", "6. volume": "671748400", "7. dividend amount": "0.2000"}, "2012-07-31": {"1. open": "30.6200", "2. high": "31.0500", "3. low": "28.5400", "4. close": "29.4700", "5. adjusted close": "24.9954", "6. volume": "846604100", "7. dividend amount": "0.0000"}, "2012-06-29": {"1. open": "28.7600", "2. high": "31.1400", "3. low": "28.3200", "4. close": "30.5900", "5. adjusted close": "25.9454", "6. volume": "973131400", "7. dividend amount": "0.0000"}, "2012-05-31": {"1. open": "32.0500", "2. high": "32.3350", "3. low": "28.6400", "4. close": "29.1900", "5. adjusted close": "24.7579", "6. volume": "1014372600", "7. dividend amount": "0.2000"}, "2012-04-30": {"1. open": "32.2200", "2. high": "32.8900", "3. low": "30.2300", "4. close": "32.0150", "5. adjusted close": "26.9754", "6. volume": "940739700", "7. dividend amount": "0.0000"}, "2012-03-30": {"1. open": "31.9300", "2. high": "32.9500", "3. low": "31.4900", "4. close": "32.2550", "5. adjusted close": "27.1776", "6. volume": "942366500", "7. dividend amount": "0.0000"}, "2012-02-29": {"1. open": "29.7900", "2. high": "32.0000", "3. low": "29.7100", "4. close": "31.7400", "5. adjusted close": "26.7437", "6. volume": "984332300", "7. dividend amount": "0.2000"}, "2012-01-31": {"1. open": "26.5500", "2. high": "29.9500", "3. low": "26.3900", "4. close": "29.5300", "5. adjusted close": "24.7181", "6. volume": "1354858100", "7. dividend amount": "0.0000"}, "2011-12-30": {"1. open": "25.5600", "2. high": "26.1900", "3. low": "25.1600", "4. close": "25.9600", "5. adjusted close": "21.7299", "6. volume": "1007166600", "7. dividend amount": "0.0000"}, "2011-11-30": {"1. open": "26.1900", "2. high": "27.2000", "3. low": "24.3000", "4. close": "25.5800", "5. adjusted close": "21.4118", "6. volume": "1046207400", "7. dividend amount": "0.2000"}, "2011-10-31": {"1. open": "24.7200", "2. high": "27.5000", "3. low": "24.2600", "4. close": "26.6300", "5. adjusted close": "22.1252", "6. volume": "1218142500", "7. dividend amount": "0.0000"}, "2011-09-30": {"1. open": "26.4600", "2. high": "27.5000", "3. low": "24.6000", "4. close": "24.8900", "5. adjusted close": "20.6796", "6. volume": "1279920200", "7. dividend amount": "0.0000"}, "2011-08-31": {"1. open": "27.5100", "2. high": "27.6850", "3. low": "23.7900", "4. close": "26.6000", "5. adjusted close": "22.1003", "6. volume": "1719339500", "7. dividend amount": "0.1600"}, "2011-07-29": {"1. open": "25.9300", "2. high": "28.1450", "3. low": "25.8400", "4. close": "27.4000", "5. adjusted close": "22.6222", "6. volume": "1259328200", "7. dividend amount": "0.0000"}, "2011-06-30": {"1. open": "24.9900", "2. high": "26.0000", "3. low": "23.6500", "4. close": "26.0000", "5. adjusted close": "21.4663", "6. volume": "1297757600", "7. dividend amount": "0.0000"}, "2011-05-31": {"1. open": "25.9400", "2. high": "26.2500", "3. low": "24.0300", "4. close": "25.0100", "5. adjusted close": "20.6489", "6. volume": "1364062800", "7. dividend amount": "0.1600"}, "2011-04-29": {"1. open": "25.5300", "2. high": "26.8700", "3. low": "24.7200", "4. close": "25.9200", "5. adjusted close": "21.2615", "6. volume": "1313844800", "7. dividend amount": "0.0000"}, "2011-03-31": {"1. open": "26.6000", "2. high": "26.7800", "3. low": "24.6800", "4. close": "25.3900", "5. adjusted close": "20.8268", "6. volume": "1310885200", "7. dividend amount": "0.0000"}, "2011-02-28": {"1. open": "27.8000", "2. high": "28.3400", "3. low": "26.4300", "4. close": "26.5800", "5. adjusted close": "21.8029", "6. volume": "1114368500", "7. dividend amount": "0.1600"}, "2011-01-31": {"1. open": "28.0500", "2. high": "29.4600", "3. low": "27.4200", "4. close": "27.7250", "5. adjusted close": "22.6079", "6. volume": "1361258700", "7. dividend amount": "0.0000"}, "2010-12-31": {"1. open": "25.5700", "2. high": "28.4000", "3. low": "25.5600", "4. close": "27.9100", "5. adjusted close": "22.7588", "6. volume": "1033710000", "7. dividend amount": "0.0000"}, "2010-11-30": {"1. open": "26.8800", "2. high": "27.4900", "3. low": "24.9300", "4. close": "25.2575", "5. adjusted close": "20.5958", "6. volume": "1361176300", "7. dividend amount": "0.1600"}, "2010-10-29": {"1. open": "24.4900", "2. high": "27.2000", "3. low": "23.7800", "4. close": "26.6650", "5. adjusted close": "21.6096", "6. volume": "1281432800", "7. dividend amount": "0.0000"}, "2010-09-30": {"1. open": "23.6700", "2. high": "25.5300", "3. low": "23.5400", "4. close": "24.4900", "5. adjusted close": "19.8470", "6. volume": "1273139500", "7. dividend amount": "0.0000"}, "2010-08-31": {"1. open": "25.9900", "2. high": "26.3800", "3. low": "23.3200", "4. close": "23.4650", "5. adjusted close": "19.0163", "6. volume": "1279372100", "7. dividend amount": "0.1300"}, "2010-07-30": {"1. open": "23.0900", "2. high": "26.4100", "3. low": "22.7300", "4. close": "25.8100", "5. adjusted close": "20.8072", "6. volume": "1408

In [8]:
#Put data into Table
df = pd.read_json(response)

In [9]:
#Transpose the Table
df = df.T

In [10]:
df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
2019-01-28,99.55,107.90,97.2000,105.08,105.080,577528857.0,0.00
2018-12-31,113.00,113.42,93.9600,101.57,101.570,944287635.0,0.00
2018-11-30,107.05,112.24,99.3528,110.89,110.890,720228643.0,0.46
2018-10-31,114.75,116.18,100.1100,106.81,106.344,927547942.0,0.00
2018-09-28,110.85,115.29,107.2300,114.37,113.871,480255674.0,0.00

In [11]:
# df["Symbol"] = meta_data["2. Symbol"]

In [12]:
df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
2019-01-28,99.55,107.90,97.2000,105.08,105.080,577528857.0,0.00
2018-12-31,113.00,113.42,93.9600,101.57,101.570,944287635.0,0.00
2018-11-30,107.05,112.24,99.3528,110.89,110.890,720228643.0,0.46
2018-10-31,114.75,116.18,100.1100,106.81,106.344,927547942.0,0.00
2018-09-28,110.85,115.29,107.2300,114.37,113.871,480255674.0,0.00

In [13]:
#remove index
df = df.reset_index()

In [14]:
df.rename(columns={"index":"Date",
                   "1. open": "Open",
                   "2. high":"High",
                   "3. low":"Low",
                   "4. close":"Close",
                   "5. adjusted close":"Adjusted close",
                   "6. volume":"Volume",
                   "7. dividend amount":"Dividend Amount"}, inplace=True)

In [15]:
df.head()

,Date,Open,High,Low,Close,Adjusted close,Volume,Dividend Amount
0,2019-01-28,99.55,107.90,97.2000,105.08,105.080,577528857.0,0.00
1,2018-12-31,113.00,113.42,93.9600,101.57,101.570,944287635.0,0.00
2,2018-11-30,107.05,112.24,99.3528,110.89,110.890,720228643.0,0.46
3,2018-10-31,114.75,116.18,100.1100,106.81,106.344,927547942.0,0.00
4,2018-09-28,110.85,115.29,107.2300,114.37,113.871,480255674.0,0.00

In [16]:
df.iloc[0]["Date"].strftime("%Y-%m")

'2019-01'

In [17]:
## Change date for Date column to Month and Date only for easier script

df["Year_Month"] = df["Date"].apply(lambda x:x.strftime("%Y-%m"))

In [18]:
##Copy frame to work with below

df2 = df

In [19]:
df2.head()

,Date,Open,High,Low,Close,Adjusted close,Volume,Dividend Amount,Year_Month
0,2019-01-28,99.55,107.90,97.2000,105.08,105.080,577528857.0,0.00,2019-01
1,2018-12-31,113.00,113.42,93.9600,101.57,101.570,944287635.0,0.00,2018-12
2,2018-11-30,107.05,112.24,99.3528,110.89,110.890,720228643.0,0.46,2018-11
3,2018-10-31,114.75,116.18,100.1100,106.81,106.344,927547942.0,0.00,2018-10
4,2018-09-28,110.85,115.29,107.2300,114.37,113.871,480255674.0,0.00,2018-09

In [20]:
df2.head()

,Date,Open,High,Low,Close,Adjusted close,Volume,Dividend Amount,Year_Month
0,2019-01-28,99.55,107.90,97.2000,105.08,105.080,577528857.0,0.00,2019-01
1,2018-12-31,113.00,113.42,93.9600,101.57,101.570,944287635.0,0.00,2018-12
2,2018-11-30,107.05,112.24,99.3528,110.89,110.890,720228643.0,0.46,2018-11
3,2018-10-31,114.75,116.18,100.1100,106.81,106.344,927547942.0,0.00,2018-10
4,2018-09-28,110.85,115.29,107.2300,114.37,113.871,480255674.0,0.00,2018-09

In [21]:
df2[df2.Year_Month == "2019-01"]["Adjusted close"]

0    105.08
Name: Adjusted close, dtype: float64

In [22]:
df2[df2.Year_Month == "2018-01"]["Adjusted close"]

12    93.3903
Name: Adjusted close, dtype: float64

In [23]:
(105.08 - 93.3903)/93.3903

0.12517038707446065

In [24]:
YOY = (float(df2[df2.Year_Month == "2019-01"]["Adjusted close"]) - float(df2[df2.Year_Month == "2018-01"]["Adjusted close"]))/float(df2[df2.Year_Month == "2018-01"]["Adjusted close"])

In [25]:
YOY

0.12517038707446065

In [26]:
##Function to calculate Year of Year.

def CalcYoY(date):
    try:
        current_date = date
        current_year = int(date.split('-')[0])
        current_month = date.split('-')[1]

        last_year = current_year - 1
        last_month = current_month

        last_year_date = str(last_year) + "-" + str(last_month)
        print(current_date)
        print(last_year_date)
    #     print(df2[df2.Year_Month == current_date]["Adjusted close"])
    #     print(df2[df2.Year_Month == last_year_date]["Adjusted close"])
        current_value = df2[df2.Year_Month == current_date]["Adjusted close"].values[0]
        last_year_value = df2[df2.Year_Month == last_year_date]["Adjusted close"].values[0]
    #     print(type(current_value))
    #     print(last_year_value)
        YOY = (current_value-last_year_value)/last_year_value
        print(YOY)
        return YOY
    except:
        return "NaN"

In [27]:
date = "2019-01"

In [28]:
CalcYoY(date)

2019-01
2018-01
0.12517038707446065

0.12517038707446065

In [29]:
## Add YOY to dataframe
df["YoY"] = df2.Year_Month.apply(lambda x: CalcYoY(x))

2019-01
2018-01
0.12517038707446065
2018-12
2017-12
0.20799031419403477
2018-11
2017-11
0.34030175826221276
2018-10
2017-10
0.3072371057477424
2018-09
2017-09
0.5630584999052867
2018-08
2017-08
0.5294303468571708
2018-07
2017-07
0.48756505915239623
2018-06
2017-06
0.4584447443573702
2018-05
2017-05
0.44279810072738734
2018-04
2017-04
0.39445575231928875
2018-03
2017-03
0.41463146659969863
2018-02
2017-02
0.4960876217619678
2018-01
2017-01
0.5022729466267735
2017-12
2016-12
0.4071702559227746
2017-11
2016-11
0.4278310662253256
2017-10
2016-10
0.42124968334250545
2017-09
2016-09
0.32403407345748897
2017-08
2016-08
0.3322474976588948
2017-07
2016-07
0.3144204303213565
2017-06
2016-06
0.3804564431525292
2017-05
2016-05
0.35038528886229975
2017-04
2016-04
0.4088945145884078
2017-03
2016-03
0.22384688083474852
2017-02
2016-02
0.29055954627438313
2017-01
2016-01
0.20562025463748582
2016-12
2015-12
0.1506667822101544
2016-11
2015-11
0.13905423150412413
2016-10
2015-10
0.16961974101766128
2016-09
2015-09
0.3372096696972569
2016-08
2015-08
0.3566441171454629
2016-07
2015-07
0.24746247617811132
2016-06
2015-06
0.1912382839514045
2016-05
2015-05
0.16248694559200005
2016-04
2015-04
0.05316398408373963
2016-03
2015-03
0.3954425928060407
2016-02
2015-02
0.19186494425694992
2016-01
2015-01
0.40078238546067024
2015-12
2014-12
0.22695987278754534
2015-11
2014-11
0.16777657642767455
2015-10
2014-10
0.1512531699766162
2015-09
2014-09
-0.019700290656120334
2015-08
2014-08
-0.016359525430321854
2015-07
2014-07
0.11061158488855931
2015-06
2014-06
0.08672790894142543
2015-05
2014-05
0.17484635931290587
2015-04
2014-04
0.23627822464490683
2015-03
2014-03
0.018451886957281345
2015-02
2014-02
0.1753355435147726
2015-01
2014-01
0.09671585583491968
2014-12
2013-12
0.2754430745956502
2014-11
2013-11
0.2880002365359313
2014-10
2013-10
0.36388925430504815
2014-09
2013-09
0.43274065325655453
2014-08
2013-08
0.39895721024831715
2014-07
2013-07
0.39549624327616484
2014-06
2013-06
0.24271719259200372
2014-05
2013-05
0.20765652506007265
2014-04
2013-04
0.2564496090038734
2014-03
2013-03
0.4751229255681155
2014-02
2013-02
0.41860002569064336
2014-01
2013-01
0.42007395623550925
2013-12
2012-12
0.4428477011244356
2013-11
2012-11
0.47584512604345314
2013-10
2012-10
0.2790460986650141
2013-09
2012-09
0.15299363608814234
2013-08
2012-08
0.11735242590417995
2013-07
2012-07
0.11340886723157068
2013-06
2012-06
0.1637669875970308
2013-05
2012-05
0.23211984861397778
2013-04
2012-04
0.0652038523988523
2013-03
2012-03
-0.08630269045095966
2013-02
2012-02
-0.0976080347895019
2013-01
2012-01
-0.04379381910421916
2012-12
2011-12
0.05836658245090865
2012-11
2011-11
0.07028367535657905
2012-10
2011-10
0.10133693706723558
2012-09
2011-09
0.22869397860693622
2012-08
2011-08
0.19065804536589998
2012-07
2011-07
0.1049058004968571
2012-06
2011-06
0.20865729073012113
2012-05
2011-05
0.1989936509935153
2012-04
2011-04
0.2687439738494461
2012-03
2011-03
0.30493402731096486
2012-02
2011-02
0.22661205619435942
2012-01
2011-01
0.09333905404747893
2011-12
2010-12
-0.04520888623301756
2011-11
2010-11
0.03961972829411817
2011-10
2010-10
0.023859766029912594
2011-09
2010-09
0.041950924572983286
2011-08
2010-08
0.16217665897151387
2011-07
2010-07
0.08722942058518193
2011-06
2010-06
0.15721293800539082
2011-05
2010-05
-0.007226239470748773
2011-04
2010-04
-0.1323607427055702
2011-03
2010-03
-0.11390024634209653
2011-02
2010-02
-0.05238978977151713
2011-01
2010-01
0.004268872324736354
2010-12
2009-12
-0.06531631429369339
2010-11
2009-11
-0.12337408063198033
2010-10
2009-10
-0.020274926553262428
2010-09
2009-09
-0.029866067064229014
2010-08
2009-08
-0.030122048870550595
2010-07
2009-07
0.11833597592109873
2010-06
2009-06
-0.013471039657932353
2010-05
2009-05
0.25865052950075645
2010-04
2009-04
0.5387948357279212
2010-03
2009-03
0.627784087761095
2010-02
2009-02
0.8125049235083738
2010-01
2009-01
0.6869089546646684
2009-12
2008-12
0.6049620333263024
2009-11
2008-11
0.48888142510408805
2009-10
2008-10
0.27408314511983073
2009-09
2008-09
-0.011313496455168956
2009-08
2008-08
-0.07327529162649123
2009-07
2008-07
-0.06317188735202743
2009-06
2008-06
-0.11481807525550435
2009-05
2008-05
-0.24431924710874947
2009-04
2008-04
-0.2742022961474128
2009-03
2008-03
-0.33866461476453513
2009-02
2008-02
-0.39336216577859545
2009-01
2008-01
-0.4658239400537978
2008-12
2007-12
-0.44389950662356037
2008-11
2007-11
-0.3871574098886546
2008-10
2007-10
-0.38433224628274926
2008-09
2007-09
-0.0805268326497603
2008-08
2007-08
-0.03596912505809558
2008-07
2007-07
-0.10001722012761023
2008-06
2007-06
-0.05306116990451399
2008-05
2007-05
-0.06393479814907564
2008-04
2007-04
-0.03414653472320047
2008-03
2007-03
0.03249756457424978
2008-02
2007-02
-0.02097427691847026
2008-01
2007-01
0.0706253428414701
2007-12
2006-12
0.20830177648450074
2007-11
2006-11
0.15984090233421325
2007-10
2006-10
0.299712961122641
2007-09
2006-09
0.09191699134881785
2007-08
2006-08
0.13322489866522097
2007-07
2006-07
0.22157147127531202
2007-06
2006-06
0.2823025037155597
2007-05
2006-05
0.37370927907797247
2007-04
2006-04
0.2577123242165872
2007-03
2006-03
0.03909467042740756
2007-02
2006-02
0.06356891567104392
2007-01
2006-01
0.1120462463006295
2006-12
2005-12
0.15830704116968058
2006-11
2005-11
0.07595599282702466
2006-10
2005-10
0.13261785723634253
2006-09
2005-09
0.07770945105052346
2006-08
2005-08
-0.04833859126691641
2006-07
2005-07
-0.04816452127911824
2006-06
2005-06
-0.049652325076053966
2006-05
2005-05
-0.11054159366092202
2006-04
2005-04
-0.033616367848563124
2006-03
2005-03
0.13973845593794634
2006-02
2005-02
0.08121354940064988
2006-01
2005-01
0.08415613939910606
2005-12
2004-12
-0.009456973565192631
2005-11
2004-11
0.04497870336137422
2005-10
2004-10
0.0315711593193246
2005-09
2004-09
0.04472524050674401
2005-08
2004-08
0.12597519005831784
2005-07
2004-07
0.00918323939168345
2005-06
2004-06
-0.02356223676812248
2005-05
2004-05
0.10426701782352052
2005-04
2004-04
0.08360872438863184
2005-03
2004-03
0.08504496840058336
2005-02
2004-02
0.06136293555349986
2005-01
2004-01
0.06043338903651763
2004-12
2003-12
0.08921939258414643
2004-11
2003-11
0.16345626926091136
2004-10
2003-10
0.07314486403783296
2004-09
2003-09
0.0030136821168103033
2004-08
2003-08
0.038116463141449
2004-07
2003-07
0.08469453672942061
2004-06
2003-06
0.12001473375276996
2004-05
2003-05
0.07169517018550503
2004-04
2003-04
0.02752872912707535
2004-03
2003-03
0.03540485613434589
2004-02
2003-02
0.12557123115981614
2004-01
2003-01
0.17542311754553186
2003-12
2002-12
0.06810012533402708
2003-11
2002-11
-0.10069841875450429
2003-10
2002-10
-0.013667621285133706
2003-09
2002-09
0.27529436427797777
2003-08
2002-08
0.08420934635312873
2003-07
2002-07
0.10446753346031579
2003-06
2002-06
-0.059464805574336574
2003-05
2002-05
-0.030042686551034897
2003-04
2002-04
-0.018241899637384363
2003-03
2002-03
-0.19452961478230463
2003-02
2002-02
-0.18487258476885027
2003-01
2002-01
-0.25506018489644555
2002-12
2001-12
-0.21962067072354918
2002-11
2001-11
-0.1017008049429494
2002-10
2001-10
-0.08047831800262806
2002-09
2001-09
-0.1452029101508834
2002-08
2001-08
-0.1396992247563634
2002-07
2001-07
-0.2751171757752073
2002-06
2001-06
-0.25068352628383617
2002-05
2001-05
-0.2640929233841572
2002-04
2001-04
-0.228634975345012
2002-03
2001-03
0.10276085620074886
2002-02
2001-02
-0.011184731986054122
2002-01
2001-01
0.0433996926480821
2001-12
2000-12
0.5272006031269596
2001-11
2000-11
0.1190320192189889
2001-10
2000-10
-0.15565654638008553
2001-09
2000-09
-0.15154801664326953
2001-08
2000-08
-0.1827818106988678
2001-07
2000-07
-0.05185246806014065
2001-06
2000-06
-0.08750004775786376
2001-05
2000-05
0.1058198731666325
2001-04
2000-04
-0.02867196606515277
2001-03
2000-03
-0.4852712732293884
2001-02
2000-02
-0.33982345678590115
2001-01
2000-01
-0.3761114043278795
2000-12
1999-12
-0.6284370884853118
2000-11
1999-11
-0.3697975762865488
2000-10
1999-10
-0.25594227784565604
2000-09
1999-09
-0.3340319826113957
2000-08
1999-08
-0.24578806591156757
2000-07
1999-07
-0.18646035918588333
2000-06
1999-06
-0.11298445146335181
2000-05
1999-05
-0.22468986155040813
2000-04
1999-04
-0.14217191746578303
2000-03
1999-03
0.18556261531797916
2000-02
1999-02
0.19056887263784092
2000-01
1999-01
0.1185154135010042
1999-12
1998-12
0.683612706444461
1999-11
1998-11
0.4926218213704122
1999-10
1998-10
0.7485622560454536
1999-09
1998-09
0.6456493484853533
1999-08
1998-08
0.92954174737486
1999-07
1998-07
0.5610355526394805
1999-06
1998-06
0.6644817743882491
1999-05
1998-05
0.9028449512386747
1999-04
1998-04
0.8044877664950516
1999-03
1998-03
1.0026842612134501
1999-02
1998-02
0.7714423791285282
1999-01
1998-01
1998-12
1997-12
1998-11
1997-11
1998-10
1997-10
1998-09
1997-09
1998-08
1997-08
1998-07
1997-07
1998-06
1997-06
1998-05
1997-05
1998-04
1997-04
1998-03
1997-03
1998-02
1997-02

In [30]:
df

,Date,Open,High,Low,Close,Adjusted close,Volume,Dividend Amount,Year_Month,YoY
0,2019-01-28,99.5500,107.9000,97.2000,105.08,105.0800,5.775289e+08,0.00,2019-01,0.12517
1,2018-12-31,113.0000,113.4200,93.9600,101.57,101.5700,9.442876e+08,0.00,2018-12,0.20799
2,2018-11-30,107.0500,112.2400,99.3528,110.89,110.8900,7.202286e+08,0.46,2018-11,0.340302
3,2018-10-31,114.7500,116.1800,100.1100,106.81,106.3440,9.275479e+08,0.00,2018-10,0.307237
4,2018-09-28,110.8500,115.2900,107.2300,114.37,113.8710,4.802557e+08,0.00,2018-09,0.563058
5,2018-08-31,106.0300,112.7770,104.8400,112.33,111.8399,4.566307e+08,0.42,2018-08,0.52943
6,2018-07-31,98.1000,111.1500,98.0000,106.08,105.2067,5.695016e+08,0.00,2018-07,0.487565
7,2018-06-29,99.2798,102.6900,97.2600,98.61,97.7982,6.025853e+08,0.00,2018-06,0.458445
8,2018-05-31,93.2100,99.9900,92.4500,98.84,98.0263,5.094181e+08,0.42,2018-05,0.442798
9,2018-04-30,90.4700,97.9000,87.5100,93.52,92.3509,6.682586e+08,0.00,2018-04,0.394456
10,2018-03-29,93.9900,97.2400,87.0800,91.27,90.1290,7.328664e+08,0.00,2018-03,0.414631
11,2018-02-28,94.7900,96.0700,83.8300,93.77,92.5978,6.902876e+08,0.42,2018-02,0.496088
12,2018-01-31,86.1250,95.4500,85.5000,95.01,93.3903,5.433773e+08,0.00,2018-01,0.502273
13,2017-12-29,83.6000,87.4999,80.7000,85.54,84.0818,4.478283e+08,0.00,2017-12,0.40717
14,2017-11-30,83.6800,85.0600,82.2400,84.17,82.7351,4.161523e+08,0.42,2017-11,0.427831
15,2017-10-31,74.7100,86.2000,73.7100,83.18,81.3502,4.405101e+08,0.00,2017-10,0.42125
16,2017-09-29,74.7100,75.9700,72.9200,74.49,72.8514,3.671344e+08,0.00,2017-09,0.324034
17,2017-08-31,73.1000,74.9600,71.2800,74.77,73.1252,4.291567e+08,0.39,2017-08,0.332247
18,2017-07-31,69.3300,74.4200,68.0200,72.70,70.7241,4.512489e+08,0.00,2017-07,0.31442
19,2017-06-30,70.2400,72.8900,68.0900,68.93,67.0565,6.101209e+08,0.00,2017-06,0.380456
20,2017-05-31,68.6800,70.7400,67.1400,69.84,67.9418,5.052493e+08,0.39,2017-05,0.350385
21,2017-04-28,65.8100,69.1400,64.8500,68.46,66.2272,4.288576e+08,0.00,2017-04,0.408895
22,2017-03-31,64.1300,66.1900,63.6200,65.86,63.7120,4.891732e+08,0.00,2017-03,0.223847
23,2017-02-28,64.3550,65.2400,62.7500,63.98,61.8933,4.407440e+08,0.39,2017-02,0.29056
24,2017-01-31,62.7900,65.9100,61.9500,64.65,62.1660,4.944358e+08,0.00,2017-01,0.20562
25,2016-12-30,60.1100,64.1000,58.8000,62.14,59.7524,5.135794e+08,0.00,2016-12,0.150667
26,2016-11-30,59.9700,61.4100,57.2800,60.26,57.9446,6.130570e+08,0.39,2016-11,0.139054
27,2016-10-31,57.4050,61.3699,56.3150,59.92,57.2385,6.148418e+08,0.00,2016-10,0.16962
28,2016-09-30,57.0100,58.1900,55.6100,57.60,55.0223,5.268551e+08,0.00,2016-09,0.33721
29,2016-08-31,56.6000,58.7000,56.1400,57.46,54.8886,4.670790e+08,0.36,2016-08,0.356644
...,...,...,...,...,...,...,...,...,...,...
222,2000-07-31,79.6900,82.8700,67.2500,69.81,22.8398,6.170929e+08,0.00,2000-07,-0.18646
223,2000-06-30,64.3700,82.1900,63.8100,80.00,26.1737,7.335251e+08,0.00,2000-06,-0.112984
224,2000-05-31,72.8700,74.0000,60.3800,62.56,20.4678,6.722154e+08,0.00,2000-05,-0.22469
225,2000-04-28,94.4400,96.5000,65.0000,69.75,22.8202,1.129073e+09,0.00,2000-04,-0.142172
226,2000-03-31,89.6200,115.0000,88.9400,106.25,34.7620,1.014094e+09,0.00,2000-03,0.185563
227,2000-02-29,98.5000,110.0000,88.1200,89.37,29.2393,6.672438e+08,0.00,2000-02,0.190569
228,2000-01-31,117.3700,118.6200,94.8700,97.87,32.0203,6.374376e+08,0.00,2000-01,0.118515
229,1999-12-31,91.0600,119.9400,90.8700,116.75,38.1973,6.304889e+08,0.00,1999-12,0.683613
230,1999-11-30,93.2500,94.5000,84.3700,91.05,29.7890,7.326280e+08,0.00,1999-11,0.492622
231,1999-10-29,90.1900,95.2500,85.0600,92.56,30.2830,5.311522e+08,0.00,1999-10,0.748562
232,1999-09-30,92.3100,97.8700,88.8100,90.56,29.6286,4.886368e+08,0.00,1999-09,0.645649
233,1999-08-31,85.6900,96.3700,81.6200,92.56,30.2830,6.739971e+08,0.00,1999-08,0.929542
234,1999-07-30,89.8700,100.7500,85.5000,85.81,28.0746,5.723506e+08,0.00,1999-07,0.561036
235,1999-06-30,80.6200,90.2500,76.1200,90.19,29.5076,4.437163e+08,0.00,1999-06,0.664482
236,1999-05-28,81.4400,81.8100,75.5000,80.69,26.3995,5.621285e+08,0.00,1999-05,0.902845
237,1999-04-30,91.2500,95.6200,79.8700,81.31,26.6023,5.817997e+08,0.00,1999-04,0.804488
238,1999-03-31,149.5600,180.3800,87.8700,89.62,29.3211,4.239162e+08,0.00,1999-03,1.00268
239,1999-02-26,175.4400,175.9400,143.9800,150.13,24.5591,3.997758e+08,0.00,1999-02,0.771442
240,1999-01-29,139.6100,175.1300,136.0000,175.00,28.6275,3.681297e+08,0.00,1999-01,NaN
241,1998-12-31,120.2500,144.0000,120.1200,138.69,22.6877,2.753805e+08,0.00,1998-12,NaN
242,1998-11-30,106.3700,130.2700,104.7500,122.00,19.9575,2.906767e+08,0.00,1998-11,NaN
243,1998-10-30,108.0600,110.1200,87.7500,105.87,17.3188,4.107623e+08,0.00,1998-10,NaN
244,1998-09-30,95.2500,114.6200,94.5000,110.06,18.0042,2.980811e+08,0.00,1998-09,NaN
245,1998-08-31,109.1200,113.7500,95.7500,95.94,15.6944,3.375099e+08,0.00,1998-08,NaN
246,1998-07-31,109.1200,119.6200,105.3700,109.94,17.9846,3.073245e+08,0.00,1998-07,NaN
247,1998-06-30,83.8700,108.5600,83.1200,108.37,17.7278,3.082881e+08,0.00,1998-06,NaN
248,1998-05-29,90.1900,91.0000,81.8700,84.81,13.8737,2.738456e+08,0.00,1998-05,NaN
249,1998-04-30,89.8100,99.1200,86.6200,90.12,14.7423,2.547443e+08,0.00,1998-04,NaN
250,1998-03-31,85.8700,90.9400,79.2500,89.50,14.6409,2.749819e+08,0.00,1998-03,NaN
251,1998-02-27,151.7500,160.0600,79.3700,84.75,13.8639,2.155232e+08,0.00,1998-02,NaN